[2020-11-30 14:52] jonatasbaldin opened #5 "Implement a basic CI pipeline"
## Expected Behavior
We should have a pipeline to test the code and deploy the Docker image, respectively:
- Run `make test` on every pull request/commit
- Run `make docker-build` and `make docker-push` when tagging (using semantic versioning)
- Implement code coverage (codecov.io)

Still need to decide:
- Platform? I'd use GitHub actions, simple and already here
- For the Docker image, maybe [Git

[2020-11-30 14:55] jonatasbaldin opened #6 "Implement the Providers interface"
## Expected Behavior
Have an interface to setup all the Providers (AWS SM, GCP SM, Vault etc).

We should have a common interface with the methods used by all Providers, something like:
[code]

We should also have some form of registration of the implemented backends during the controller startup.

## Actual Behavior
Not implemented yet.

[2020-11-30 14:57] jonatasbaldin opened #7 "Implement the `ClusterSecretStore`"
## Expected Behavior
We need a cluster version of the `SecretStore` CRD. With the implementation, we might to add its spec on the [crd-spec](https://github.com/external-secrets/crd-spec) repositoty.

## Actual Behavior
Not implemented.

[2020-11-30 14:58] jonatasbaldin opened #8 "Implement `ExternalSecret.spec.target.template.data` and `ExternalSecret.spec.target.template.templateFrom`"
## Expected Behavior
Have the CRD implementation of the `ExternalSecret.spec.target.template.data` and `ExternalSecret.spec.target.template.templateFrom`, following the [crd-spec](https://github.com/external-secrets/external-secrets/issues/6).

## Actual Behavior
Not implemented.

[2020-12-05 12:08] moolen commented on #5
@knelasevero is the implementation of a linter in scope of this feature? If not i'd like to add [golangci-lint](https://golangci-lint.run/) and maybe a license header check.

[2020-12-07 09:45] knelasevero commented on #5
Hey @moolen :) , I think both are somewhat related, but you can raise a different issue and work on it if you want, so I don't block you. I've been a bit busy with some other stuff and will probably have time for it this week.

[2020-12-09 22:33] Flydiverny commented on #5
I've enabled github container registry and pushed KES there https://github.com/orgs/external-secrets/packages/container/package/kubernetes-external-secrets

I've also put down an open source request on docker hub to get around the pull limits. But looks like using github should be fine!

[2020-12-11 18:15] #5 closed

[2020-12-21 17:59] mcavoyk opened #12 "Implement main controller reconciliation"
**Describe the solution you'd like**
ExternalSecret controller should connect to the referenced SecretStore and fetch the secret material referenced by the ExternalSecrets resource. The controller should update the status of the ExternalSecret resource with the outcome of this reconciliation.

[2020-12-22 17:10] mcavoyk opened #14 "Add helm chart"
**Describe the solution you'd like**
Add Helm chart to install external-secrets controller.

[2020-12-28 09:37] moolen commented on #6
This was implemented in #9.

[2020-12-28 09:37] #6 closed

[2021-01-06 15:50] #14 closed

[2021-01-07 16:55] jonatasbaldin opened #18 "Sync latest CRD Spec changed to the code base"
**Describe the solution you'd like**
We need to sync the changes made on [standardize condition and remove phase #3](https://github.com/external-secrets/crd-spec/pull/3) to the code base.

[2021-01-07 16:59] jonatasbaldin opened #19 "Security of SecretStore provider credential secrets resources"
In our last community meeting we talked briefly about the security concerns on the `SecretStore` resources, since it has access keys to different Providers.

We talked about keeping `SecretStores` in the same namespace as the controller by default, or we can create a different namespace to manage it.

What do you think? What are the best practices around managing custom resources with sensitive in

[2021-01-07 17:02] jonatasbaldin opened #20 "Implement .Status.Conditions setting on ExternalSecret resource"
**Describe the solution you'd like**
We need to implement the .Status.Conditions implementation (updating its fields) when running the reconciling the controller.

Note that #18 must be implemented before this and #17 / #16 must be merged before as well.

[2021-01-07 18:11] mcavoyk commented on #19
In general, custom resources should not contain secret material, but instead a reference to the Kubernetes secret with the data.

SecretStore's should follow that and only contain references to the secret with the provider credentials, and the `controller` field on SecretStore's should increase the supportability of injected/native authentication by external-secret controllers such as [AWS IRSA](h

[2021-01-08 08:58] #7 closed

[2021-01-08 12:50] knelasevero commented on #19
SecretStores being namespaced and referecing a k8s secret in the same namespace is fine. I think that the concern here is more about SecretStore and the provider secrets that it references being in the target namespace together with the ExternalSecret and probably the app using the final target secret. People having access to this namespace, and having access to secrets in general, would now have

[2021-01-08 13:00] knelasevero commented on #19
I know that having access to secrets, or having credentials to access the same secrets in the external provider is not a super big problem, if this credentials only give access to the secrets, externally.

This becomes a big problem when this credentials give access to something more, by mistake. Like having access to other cloud provider resources with misconfigured  IAM on aws or google cloud.

[2021-01-08 16:35] mcavoyk commented on #19
External-secrets should have docs for the supported SecretStore providers with example permissions for the minimum access needed. This would allow users to better lock down the access of the credentials used by SecretStores.

I'm not sure the SecretStore resource is the best way to fix this, since the resource is namespaced and expected to reference provider secrets and be referenced within the sa

[2021-01-14 13:32] knelasevero commented on #19
I think that this already addresses the issue and is sufficient tbh :) When we add this to the documentation we can close this issue.

I think that you are right about SecretStore resource (and the secrets that it has access to) not being the best way to fix this.

I like the allowlisted namespaces suggestion. Should we add this to the spec?

[2021-01-14 16:19] mcavoyk opened #21 "Add support for Vault k/v store"
**Describe the solution you'd like**
SecretStore resources should support Vault as a backend. Authentication should support at least AppRole and Kubernetes Auth.

[2021-02-07 14:25] moolen opened #26 "Provider: AWS Secrets Manager"
Implement AWS Secrets Manager Provider

AC:
* SecretStore should expose AWS Secrets Manager as a backend
* Authentication mechanisms implemented: pull credentials from secret, use ambient credentials
* implement assumeRole mechanics

[2021-02-07 14:25] moolen opened #27 "Provider: AWS Parameter Store"
Implement AWS Parameter Store Provider

AC:
* SecretStore should expose AWS Parameter Store as a backend
* Authentication mechanisms implemented: pull credentials from secret, use ambient credentials

[2021-02-07 14:34] moolen opened #28 "template functions"
Once #8 is in we need some basic templating functions, e.g.:

* extract certificates/keys from pkcs12 (#22)
* basic transformations (e.g. via [sprig](https://github.com/Masterminds/sprig))

[2021-02-07 14:40] moolen opened #29 "documentation first iteration"
We need a static site for our documentation. For the first iteration it should be enough to have a basic scaffolding without (much) content.

AC:
* basic static site generator pipeline with github actions (e.g. [hugo](https://github.com/peaceiris/actions-hugo#%EF%B8%8F-create-your-workflow))
* basic scaffolding for:
  * User Guide: Getting Started / Installation / use-cases / Configuration
  * Des

[2021-02-07 14:45] moolen opened #30 "Metrics first iteration"
As a Cluster Operator i need metrics/alerts to ensure ESO runs smoothly, secrets are beings synced and SecretStores are properly configured

AC:
* outline/document/implement MVP metrics for the operator ([kubebuilder docs](https://book.kubebuilder.io/reference/metrics.html))

[2021-02-07 14:49] moolen opened #31 "e2e tests"
We will integrate a lot of external APIs and we need to test them end-to-end. Ideally we test the "real" upstream APIs rather than fakes, however this will cost a few cents.

AC:
* find sponsors for AWS, Azure & GCP
* consider running HasiCorp's Vault Cluster ~using an IaaS Provider~ in kind

[2021-02-08 20:06] #18 closed

[2021-02-11 13:21] knelasevero opened #33 "Provider: Google Secret Manager"
Implement Google Secret Manager Provider

AC:

SecretStore should expose Google Secret Manager as a backend

[2021-02-17 13:10] KlavsKlavsen opened #35 "passwordstore.org (ie. gpg files from git url) integration?"
**Describe the solution you'd like**
It would be fantastic if I could just point external-secrets to my pass (see https://passwordstore.org) git repo - wherever I host it.
pass uses GPG keys to encrypt (and decrypt keys) - and allows for multiple recipients (using gpg).

**What is the added value?**
This would allow me to store secrets in a git repo using tools that I already know (and that are we

[2021-02-17 13:23] KlavsKlavsen opened #36 "1password.com support would be usable by a lot"
**Describe the solution you'd like**
external-secrets should allow for mapping to passwords from ones store on 1password.com

**What is the added value?**
Supporting getting passwords from an ordinary password manager used by many, such as 1password.com - would mean you could simply map externalsecrets to the place you already keep your password - instead of having to move all passwords, or duplic

[2021-02-17 16:57] riccardomc commented on #31
I would like to start looking into this

[2021-02-18 08:49] KlavsKlavsen commented on #35
And supporting pulling from a git backend - would mean I could use gitops method to manage secrets easily :)

[2021-02-18 18:23] sparkacus commented on #21
It would be great if secret mapping could also be automatic i.e. all key/values stored in a Vault secret sync with a Kubernetes secret

[2021-02-24 19:01] #26 closed

[2021-02-25 04:05] mcavoyk opened #42 "Remove kubebuilder kustomize manifests"
With a helm chart available, the kustomize manifest is just unnecessary config in the repo.

My suggestion would to follow similar route as [cert-manager](https://github.com/jetstack/cert-manager/tree/master/deploy/manifests)'s deployment manifests if we want to publish manifest artifacts with Github releases. This uses a default helm values file and `helm template` to generate the yaml to `kubect

[2021-02-25 04:18] mcavoyk commented on #27
For AWS Parameter store, I would propose a change to the current SecretStore spec for aws configuration. The current provider field is nested under `awssm`, but `region`, `role` and the secretRef for credentials will all be shared between AWS Parameter store and AWS Secret Store https://github.com/external-secrets/external-secrets/issues/26. Instead the current fields should be nested under `aws`,

[2021-02-25 05:06] mcavoyk opened #43 "Create release workflow"
Create workflow which can promote a helm chart and image to the specific version.

[2021-02-25 14:31] runningman84 commented on #27
It would be great if the new implementation would respect the rate limits of AWS. Here are some details:

https://github.com/external-secrets/kubernetes-external-secrets/issues/491

[2021-02-25 21:55] sklarsa commented on #21
Also support for both k/v store versions (1 and 2) would be fantastic!

[2021-02-25 23:23] knelasevero opened #44 "Start with tweaks approach for test cases structs before we have more tests"
**Describe the solution you'd like**
We could have a base test case struct with most of the default happy path fields set at the top, and use tweak anonymous functions to customize the test case for each specific desired scenario.

**What is the added value?**
Sometimes we have to include a lot of fields set, for validation or because it is a required field, and when reading tests you have to real

[2021-02-25 23:24] knelasevero commented on #44
@moolen @mcavoyk what do you think?

[2021-02-26 00:37] knelasevero commented on #36
We use it at Container Solutions, and we had a 1pass Backend implemented at our ContainerSolutions/externalsecret-operator solution. It was kinda hell to maintain, and we had to ship the 1pass binary together with our binary to be able to interact with them, since they won't expose a public API...

In the end we stopped having a use case internally for it and we decided to stop supporting 1pass.

[2021-02-26 03:08] mcavoyk commented on #44
Yes, I recommend this approach along with table driven tests 👍

[2021-02-26 05:57] mcavoyk commented on #21
Support for both versions is planned 👍 . Working on this feature currently

[2021-02-26 08:13] KlavsKlavsen commented on #36
@knelasevero in that case then yes - this should be done by having a container with 1password CLI client - and interacting with that.. its not "pretty".. But it should work fine.. Anyways - it was just an idea.. if no one has the need or inclination to write it - it won't come to pass :)
IMHO 1password should really write such a backend for external-secrets themselves.. and I'll be sure to plug th

[2021-02-26 08:45] knelasevero commented on #36
Thanks a lot @KlavsKlavsen ! Shipping a third party binary in our releases isn't something that we look forward to :sweat_smile:. But we will keep a look and would love to have contributions.

I will close this issue for now. But feel free to re-open if  something comes up! :smile:

[2021-02-26 11:59] knelasevero opened #45 "Consider using Paul, Derek or Prow"
**Describe the solution you'd like**
I think we could have some kind of automation bot.

**What is the added value?**
Help with some managerial tasks. Specially useful if we want some approvers and maintainers not necessarily added to the org.

**Give us examples of the outcome**

Wanna vouch for Paul here. We use it in some internal projects, and it was developed by a fellow CSer. My favorite fea

[2021-02-26 16:35] mcavoyk commented on #45
Definitely agree with some automated tooling to help with some tasks. I'll take a look at these options this weekend.

[2021-03-01 07:32] #29 closed

[2021-03-04 17:51] gabibeyer commented on #44
I would be happy to start on the first bullet: `TestGetSecret in pkg/provider/aws/secretsmanager/secretsmanager_test.go` if it's not already taken! :hand:

[2021-03-04 17:55] knelasevero commented on #44
Thanks @gabibeyer its yours! :smile:

[2021-03-04 18:41] knelasevero commented on #12
i am closing this one. Unless I am missing something, this is done. Feel free to reopen if you think otherwise.

[2021-03-04 18:41] #12 closed

[2021-03-05 10:48] knelasevero opened #50 "Github pages action is unconfiguring the custom domain when we merge something"
After merging a pull request I had to reconfigure the external-secrets.io domain in the repo settings. Did not look close into that, but probably the gh-pages action is overriding something.

[2021-03-05 15:31] knelasevero commented on #45
/label wontfix

[2021-03-05 15:32] knelasevero commented on #45
Just testing :)

[2021-03-05 15:32] knelasevero commented on #45
/remove-label wontfix

[2021-03-05 15:32] #45 closed

[2021-03-05 17:24] knelasevero commented on #50
Just noticed that gh-pages changes only change the gh-pages branch :sweat_smile: will close thisand fix

[2021-03-05 22:59] moolen commented on #20
I think this was done in #25

[2021-03-05 22:59] #20 closed

[2021-03-06 17:37] mcavoyk opened #53 "Separate the SecretStore Provider into two interfaces"
Currently the Provider interface has functionality for `New(...)`, and `GetSecret(...)`. This ends up being a bit confused as the controller gets a Provider from the internal schema, but then calls New() on the Provider to get.. another Provider

Provider's `New(...)` then has to be careful not to mutate itself, but to return a New instantiation of its own type, if a Provider failed to do so, the

[2021-03-07 11:03] knelasevero commented on #50
This is still happening

[2021-03-07 12:46] #50 closed

[2021-03-09 07:30] moolen commented on #53
This was implemented in #55

/close

[2021-03-09 07:32] #53 closed

[2021-03-11 16:14] moolen commented on #30
User Story:

I as a cluster admin want to ensure, that ES are continuously synced and that i get an alert if a sync of an ES fails.
I think the following things might help a cluster admin:
* sync_calls_counter that tracks the number of sync calls per ES with name, namespace as label (maybe a storeRef?)
* sync_failed_counter with labels: name, namespace (or maybe as a status label on the above metr

[2021-03-15 18:34] moolen opened #58 "ParameterStore: intelligent updates"
Parameter Store has API limits for different tiers.
We need a scheduling mechanism to distribute the API calls more evenly so we won't run into Limits if a user has a lot parameters to fetch.
Things that came to my mind:
* some sort of jitter for retries in the `Reconcile` func on the controller level (i'd assume that this is implemented in controller-runtime)
* some mechanic that throttles/defers

[2021-03-16 20:10] moolen opened #66 "IBM Cloud Secrets Manager"
IBM Cloud also has a SecretsManager, we should integrate it into ESO.

The pull request in KES outlines the most important aspects, see here: https://github.com/external-secrets/kubernetes-external-secrets/pull/656

[2021-03-17 00:48] mcavoyk commented on #58
Controller-runtime allows overriding the [ratelimiter](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.6.3/pkg/controller/controller.go#L44), but between the customizable ExternalSecret and and default ratelimiter logic, this may already be solved in this version of ExternalSecrets.

[2021-03-17 03:38] ckandag opened #67 "Fix helm chart install"
The helm chart install as documented here is failing with this error
Installing the chart as documented [here](https://github.com/external-secrets/external-secrets/tree/main/deploy/charts/external-secrets)   fails with the below error

 `% helm repo add external-secrets https://external-secrets.github.io/external-secrets

Error: looks like "https://external-secrets.github.io/external-secrets" is n

[2021-03-17 03:41] ckandag commented on #67
unable to self assign this.

[2021-03-17 17:52] raelga opened #68 "feat: Add mechanism to disable `externalSecret` metadata propagation"
**Describe the solution you'd like**

Enable a mechanism to disable `externalSecret` label and annotation propagation (total or selective).

**What is the added value?**

In some scenarios, labels are used to _determine ownership_ of resources, especially when they are managed from `outside` the cluster. For example, some `GitOps` operators, like ArgoCD, use labels to identify what resources are p

[2021-03-18 11:38] xxxbobrxxx commented on #21
Hi! It would be great if vault integration will support JWT authentication method (not only Kubernetes).

Your project is going to be very great. Thanks!

[2021-03-21 11:23] aelbarkani commented on #21
Definitely, JWT/OIDC authentication would be great.

[2021-03-21 21:43] mcavoyk commented on #68
Hmm.. we may need to test this out, but the created secret will have `metadata.ownerReferences` set, this should prevent ArgoCD from desiring to prune the secret resource. If this is not the case then we can disable propagation through another field.

[2021-03-21 21:59] mcavoyk commented on #67
This is because the chart repo has not been setup and there has been no initial release. The only way to install the chart at the moment is to build locally, can run `helm install external-secrets ./deploy/charts/external-secrets/` or `helm package ./deploy/charts/external-secrets/` after cloning.

We are planning on an initial release after a few more of the core providers are added, like Hashico

[2021-03-22 03:16] Flydiverny commented on #68
Are we propagating labels and annotations set on the externalsecret resource ie (`.metadata.labels` and not `.spec.template.metadata.labels`)? If yes, wouldn't it be better to only propagate those? Similar to how a Deployment and resulting Pod would only use the template.

[2021-03-22 04:25] mcavoyk commented on #68
I agree, if automatic propagation presents a problem, then we can use the nested fields to selectively propagate labels and annotations. My understanding from a bit of debugging of https://github.com/crossplane/crossplane/issues/2121#issuecomment-779584111 was that setting ownerReferences mostly avoided this, so I would want to check a bit further before changing our current implementation.

[2021-03-22 18:14] #27 closed

[2021-03-24 09:05] jonatasbaldin opened #85 "Installation instructions from Getting Started not working"
**Describe the solution you'd like**
I'd like to have working installation instructions from the [Getting Started](https://external-secrets.io/guides-getting-started/) guide.

**What is the added value?**
Make a better initial developer experience.

The current command under `Install the controller` actually fails:
[code]

[code]

This is because the image name inside the `config/manager/manager.y

[2021-03-24 18:01] raelga commented on #68
In the case of ArgoCD, the controller can live in another cluster. That's probably why is not using `ownerReferences`, because the "owner" lives outside the cluster and I think it uses `kubectl` to manage the resources.

If the `ExternalSecret` implementes the `spec.template` for secrets, allowing the users to set the labels, what's the utility of propagating the labels from the `ExternalSecret` i

[2021-03-25 12:44] jonatasbaldin commented on #30
hey peeps, I'll work start working on this, seems interesting!

[2021-03-25 12:52] moolen commented on #30
I think @mircea-cosbuc already started to take a look at it, i think?!

[2021-03-25 14:08] mircea-cosbuc commented on #30
Hey @jonatasbaldin , I did start looking into this and I was testing out the metrics exposed by default. We can sync if you'd like and check if we want to work on it together.

[2021-03-25 15:17] jonatasbaldin commented on #30
yeah, let's do it :)

[2021-03-26 04:05] #21 closed

[2021-03-26 08:51] jonatasbaldin commented on #42
+1 for this.

[2021-03-30 09:27] jonatasbaldin opened #95 "Local Development Guidelines Update"
Hi there,

This is not an issue, more like an idea to contribute to the Development Guidelines. I'm using these commands to get the operator up and running in a Kind cluster locally (if you want to test some K8S integration that needs more than `make run`).

[code]

[code]

If need a new version, I just update `TAG` and run the last script all over again.

What do you think about adding this info

[2021-03-30 09:29] jonatasbaldin commented on #85
Related to #92

[2021-03-30 09:31] knelasevero opened #96 "CLA signing from PR"
**Describe the solution you'd like**
Have a way to easily sign a CLA from a PR.

**What is the added value?**
Avoiding legal problems regarding code ownership when PRs are up but not merged. Also like this we follow CNCF standard.

[2021-03-30 09:32] knelasevero commented on #96
I created the link between this [CLA](https://gist.github.com/knelasevero/9da45debe57ad10123b3cdb84aeb95f0) and our PRs for now, using https://cla-assistant.io/

Lets see how this goes.

[2021-03-30 09:34] knelasevero commented on #96
I don't think it would make sense to have corporate CLA signing in the Pull request, right? Since for corporate the person needs to be legally entitled to grant the license in the Company's name..

I created the Gist anyway: https://gist.github.com/knelasevero/f172d48ec1f262e4645ea462cf5790eb

[2021-03-30 09:52] jonatasbaldin commented on #30
Questions:

1. The `kubebuilder` generates manifests with side-car container/service/RBAC (`config/default/manager_auth_proxy_patch.yaml` etc) to access the `/metrics` endpoint with authentication/TLS. By removing these manifests (#92) (and not integrating them into the Helm chart) we are losing this functionality. Do we want to keep this auth functionality or will we just expose the Prometheus me

[2021-03-30 13:38] knelasevero commented on #95
I like this :)

BTW we now have  github discussions enabled in the repo: https://github.com/external-secrets/external-secrets/discussions

We can use it for forum like threads when it makes sense

[2021-03-31 15:34] mcavoyk opened #97 "Move CRD Specification into this repo"
The CRD specification is currently in another repo https://github.com/external-secrets/crd-spec.

[2021-03-31 15:59] knelasevero commented on #96
We discussed in the community meeting. In the end doesn't make much sense to keep the CLA for individual contributors. In a fork this would become a problem only if someone forks and removes the license, and this is a very weird edge case.

For corporate, it does not make sense to have automation, because of what I said in the comment above. We just need normal signature from someone legally entit

[2021-03-31 15:59] #96 closed

[2021-03-31 16:04] knelasevero commented on #31
@riccardomc Were you able to have a look over this?

@mcavoyk wants to try something with mock solutions for AWS and for Hashcorp Vault. We wouls still need credits for Azure and GCP anyways for meaningful tests.

I will also ask CS to see if CS Labs can provide something here.

[2021-04-01 07:55] riccardomc commented on #31
I did only marginal work for this, then a new client and life got in the way. Please go ahead @mcavoyk and @knelasevero!

[2021-04-06 10:02] jonatasbaldin commented on #97
I have no problem on moving the spec here, it makes easy to do PRs/discussions/revisions etc

[2021-04-07 15:41] cnmcavoy opened #101 "Helm chart does not include rbac for leader election"
**Describe the solution you'd like**
The helm chart should also configure the RBAC necessary when leader election is enabled.

Currently, leader election is broken in the helm chart because the RBAC is missing access to `coordination.k8s.io/leases`

[2021-04-07 22:07] cnmcavoy opened #103 "Vault Secret Store should allow specifying the service account name, instead of the SA token name."
**Describe the solution you'd like**
The vault secret store provider should allow specifying the kubernetes service account name, as an alternative to specifying the secret created for the service account. The service account secret token is an autogenerated name and discoverable via the service account name.it

**What is the added value?**
Secret stores are easier to configure and do not contain

[2021-04-07 22:34] mcavoyk commented on #103
I would prefer this syntax:

[code]

[2021-04-08 08:44] knelasevero commented on #19
This is done, right (documented)? I am gonna glose this one, feel free to re-open if we still need to do something here.

[2021-04-08 08:44] #19 closed

[2021-04-08 16:57] #101 closed

[2021-04-08 17:58] mcavoyk opened #105 "Create Helm chart repository for this project."
There is no chart repository available for this project or organization. We should be able to use Github pages for this and then possibly setup a CNAME for `charts.external-secrets.io`.

Once setup the main branch can push canary charts to this repository and tags can push charts for our releases.

[2021-04-14 15:19] #42 closed

[2021-04-14 15:54] jonatasbaldin commented on #85
Fixed on #92.

[2021-04-14 15:54] #85 closed

[2021-04-14 15:55] jonatasbaldin commented on #67
Related to #105.

[2021-04-14 15:56] jonatasbaldin commented on #43
Can we create a TODO for tracking this?

- [ ] #105
- [ ] Package YAML manifests into GitHub release

[2021-04-14 16:14] jonatasbaldin commented on #105
As discussed in the community meeting, we should the name `External Secrets Operator` for the Helm chart.

[2021-04-14 16:59] Flydiverny commented on #105
Did you think something about repository?
It would be nice to have ESO and KES under the same repo but it also adds quite a bit of hassle to set that up and would be nice if the projects remained separated so KES can be deprecated😄

I'm not really sure how the organisations work on artifacthub but I have an organisation called external-secrets there, where I migrated the KES chart after the deprec

[2021-04-14 18:07] mbonica1990 opened #114 "With AWS Secrets Manager backend, make one AWS API call per secret even when not using dataFrom"
(I had initially posted this the Kubernetes External Secrets project as https://github.com/external-secrets/kubernetes-external-secrets/issues/704 , but it was pointed out to me that it might more sense to talk about this here since this is where the project's moving.)

I'm using secretsManager as my backend for some k8s secrets; my ExternalSecret object looks a bit like this.

[code]

  Notice th

[2021-04-14 20:23] moolen commented on #114
Thank you for that detailed write-up! I think it makes sense to optimize the fetching of the secret. From a first look i'd propose to cache the fetched secret value in the aws secretsmanager client ([here](https://github.com/external-secrets/external-secrets/blob/main/pkg/provider/aws/secretsmanager/secretsmanager.go#L30-L32)). The provider client is constructed in the reconciliation loop ([here](

[2021-04-15 12:59] knelasevero commented on #31
We have GCP project with budget. Azure missing, I think we will have it by tomorrow.

- [x] GCP project

- [ ] Azure subs

[2021-04-15 13:50] riccardomc commented on #31
I also reached out to someone at AWS but didn't get an answer yet... will let you know if I get anywhere

[2021-04-15 14:04] knelasevero opened #115 "Can we check if this affects us? Codecov Bash Uploader Security Problem"
I did not look into it in detail, but maybe we need to rotate all our secrets on the repo:

https://about.codecov.io/security-update/?utm_medium=email&utm_source=marketo&ajs_uid=2641171&ajs_event=Clicked%20Email&mkt_tok=MzMyLUxWWC03NDEAAAF8dJvA-xZxt2j33aipJ7hxMDse40UaW6Hntt6vbcITlfxojzi3S8ptsQJH4e9YLSa3_YS4XoT0ibSG6dilmVVQ_ppjMRoK6Dt3Q-fHCqUn

[2021-04-15 14:19] knelasevero commented on #115
@riccardomc got an email about our original CS solution, and I am rotating our secrets there. Not sure why we were not affected here.

[2021-04-15 14:26] moolen commented on #115
I think we shouldn't be affected when looking at the pipeline:

[code]

From the blog post:

We don't pass any secret/environment variables into it, so 1 and 1b does not apply, 2 is public information anyway.

Rotating credentials regularly isn't a bad idea anyway ;)

[2021-04-15 14:37] knelasevero commented on #115
Rotating regularly is for sure a great idea! Gonna close this issue then :)

[2021-04-15 14:37] #115 closed

[2021-04-17 12:45] riccardomc commented on #105
I set up Container Solutions helm chart repository in the past. See here:
* https://github.com/ContainerSolutions/helm-charts

I will make a small PoC based on that same mechanism.

[2021-04-17 16:00] Flydiverny commented on #105
@riccardomc I think the only benefit of artifacthub is increased discoverability. We had someone point out it was referring to the old godaddy repo in the past. which is why I made the owner claim there. Think anyone could add any repo there for it to be indexed and searchable. But seems the repo names are unique anyway.

[2021-04-19 11:04] riccardomc commented on #105
We might also consider using this github action: https://github.com/helm/chart-releaser-action

[2021-04-20 16:15] cnmcavoy opened #116 "External Secret status is incorrect when previous errors occurred reconciling the resource"
**Describe the solution you'd like**
When an external secret is created and has an error within the resource (e.g no secret store exists), then that error case is resolved (by creating a secret store), and additional errors occur, the status of the external secret never updates to newer failed status conditions.

**Observations (Constraints, Context, etc):**

My initial speculation is that one of

[2021-04-20 16:18] #103 closed

[2021-04-20 16:23] cnmcavoy opened #117 "External Secret default fields do not work as described in documentation"
**Describe the solution you'd like**
Default fields should not be required to be explicitly supplied by users creating resources.

**Observations (Constraints, Context, etc):**

For example:
[code]

But when creating a secret store resource, without specifying the vault version or secret path mount :
[code]
 kubectl prevents creating this resource:
[code]

[2021-04-20 23:43] cnmcavoy opened #118 "Vault Provider does not support cluster-scoped secret store"
**Describe the solution you'd like**
The vault provider implementation should support providing data to external secrets from the cluster secret store resource. It seems that the initial implementation stubbed this out and did not implement the cluster-scoped lookup.

**What is the added value?**
Cluster secret stores will be able to provide secrets in an identical manner as namespaced secret stor

[2021-04-23 12:27] moolen commented on #68
`spec.template` was implemented and merged. The secrets created by the controller use the labels/annotations from the template field and not from the `ExternalSecret.metadata`.

https://github.com/external-secrets/external-secrets/blob/8c8064e0e155843d197e4e51564df4ffa16d387b/pkg/controllers/externalsecret/externalsecret_controller.go#L177-L178

Thank you for your insights!

[2021-04-23 12:27] #68 closed

[2021-04-23 12:34] moolen commented on #28
done with #69

[2021-04-23 12:34] #28 closed

[2021-04-23 12:42] moolen commented on #30
I think we discussed your questions that in the community meeting, right?
tl;dr IIRC: we don't support direct TLS or proxy-sidecars

Should we keep this issue open to track further enhancements or create a new issue for that?

[2021-04-23 13:48] knelasevero commented on #30
If we open another issue we can link to this one. Are we planning on supporting direct TLS or proxy-sidecars anytime soon?

@mircea-cosbuc  was also working on something here. @mircea-cosbuc can you list the things that are being done by you here? Or were they covered already?

[2021-04-26 20:28] moolen commented on #105
+1 for artifacthhub :sparkles:

Let's discuss that on wednesday. IMHO we should serve both `docs` and `helm chart` via github pages from this repo. But we need to be careful not overriding the helm index. I found out `ingress-nginx` does it exactly that way ([1](https://github.com/kubernetes/ingress-nginx/blob/master/.github/workflows/helm.yaml#L56) / [2](https://github.com/kubernetes/ingress-ngin

[2021-04-27 15:49] #118 closed

[2021-04-28 10:37] mircea-cosbuc commented on #30
@knelasevero I want to add a counter of the provider specific api calls for helping with cost management.

[2021-04-28 18:25] cnmcavoy opened #124 "External Secrets w/templated keys are overwritten by remote keys of the same name"
**Describe the solution you'd like**
External Secret resources that reference remote keys (e.g data or dataFrom) and then also define explicit template key-value pairs in the target secret are not templated. The remote keys replace the templated key contents. External Secrets can not contain templated keys that collide with remote keys, because the remote keys always win the merge.

**What is the

[2021-04-28 18:27] cnmcavoy opened #125 "External Secrets templates use []byte instead of string."
**Describe the solution you'd like**
External Secret templates require the user specify the template contents in `[]byte` format, which means all templates have to be base64'd by hand by the user.

**Give us examples of the outcome**

External Secrets should support alternate methods of configuring templates (e.g `stringData`) or use strings directly instead of `[]byte`.

[2021-04-28 19:09] cnmcavoy opened #126 "External Secrets can have surprising template behavior"
**Describe the solution you'd like**
External Secrets templates do not handle edge cases well. For example, if the template `{{ . | toString }}` is supplied for any key, the resulting secret resource has that key, with the value of the template, unrendered.

Other invalid templates, for example `{{ .nonexistent_key | toString }}`, produce a different result. The secret is created, and the key for

[2021-04-29 09:00] knelasevero opened #127 "Fix flaking tests"
**Describe the solution you'd like**
We have some tests failing because of timeout or some other flaky reasons, we should have a look an fix.

[2021-04-29 11:32] #117 closed

[2021-04-30 15:00] taragurung opened #128 "The request signature we calculated does not match the signature you provided"
**Describe the solution you'd like**
ExternalSecret log shows the following error message:

`ERROR, The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details`

**Steps?**
1. installed External secret with helm
2. Access to AWS secrets backends given by Setting AWS_ACCESS_KEY_ID a

[2021-04-30 19:32] cep21 opened #129 "Ability to trigger secret refresh"
Related to https://github.com/external-secrets/kubernetes-external-secrets/issues/127

For large clusters, a poll based system is very inefficient and if the intervals are too large, can be too slow to update.  A push based model, even optionally, would save downstream API requests, update secrets faster, and reduce costs.

[2021-05-03 03:56] gokulkrishnank opened #134 "Cluster scoped ExternalSecret for creating secrets in multiple namespaces"
**Describe the solution you'd like**

Imagine a cluster with 50+ or even more namespaces where we have to create a secret(eg. image pull secret ) using ExternalSecret. We will have to create **same**  ExternalSecret in each namespaces. Currently we have 50+ external secrets for the same secret.

Adding a **cluster scoped externalsecret** with a field `spec.namespaces` which will accept a list of n

[2021-05-03 16:36] javanthropus opened #137 "Use TokenRequest API to fetch service account tokens"
**Describe the solution you'd like**
Use the [TokenRequest API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#tokenrequest-v1-authentication-k8s-io) to fetch tokens used for authentication on demand.

**What is the added value?**
The TokenRequest API makes it possible to fetch tokens with a configurable TTL and audience so that they can be used for a specific purpose (such a

[2021-05-03 20:03] #126 closed

[2021-05-05 06:22] #116 closed

[2021-05-05 13:38] #44 closed

[2021-05-05 18:57] #67 closed

[2021-05-06 10:58] knelasevero opened #142 "Trying to apply the chart to GKE/Autipilot results in error"
This is what happens:
[code]
Trying this in vanilla kubernetes works with no problems

[2021-05-10 15:41] #127 closed

[2021-05-12 15:29] mcavoyk commented on #142
Looks like we need to denote pre-release versions as valid - https://github.com/helm/helm/issues/3810. So something like `>=1.11.0-0` should work.

[2021-05-12 16:16] #142 closed

[2021-05-13 14:35] xxxbobrxxx opened #150 "Vault LDAP auth method"
First of all - thanks to you for the great product!

**Describe the solution you'd like**
Possibility to get a Vault token using LDAP method.
https://www.vaultproject.io/docs/auth/ldap

**What is the added value?**
In case of short-living token usage an additional controller required to rotate the token.

**Give us examples of the outcome**

Add `ldap` section to vault auth section.

What do you t

[2021-05-17 20:46] gabegorelick opened #156 "Support for immutable secrets"
**Describe the solution you'd like**
Recent versions of Kubernetes support the creation of [immutable secrets](https://kubernetes.io/docs/concepts/configuration/secret/#secret-immutable) via a boolean `immutable` attribute. It would be nice if ESO supported this.

The new-ish `Immutable` field on https://pkg.go.dev/k8s.io/api/core/v1#Secret:
[code]

It's not present on `ExternalSecretTemplate`, ev

[2021-05-18 16:25] #105 closed

[2021-05-18 17:55] #150 closed

[2021-05-20 11:56] sbaier1 opened #161 "Vault: mTLS / TLS auth support"
**Describe the solution you'd like**
I'm planning on using Vault with mTLS [1] + the TLS auth engine [2]. To do so, it must be possible in the SecretStore CRD to configure a private key + certificate that the Vault client should  use when connecting to a Vault server via TLS.

**What is the added value?**
Use mTLS to securely connect to Vault + authorize against it.

**Give us examples of the outc

[2021-05-20 18:56] atsai1220 opened #162 "externalsecret-controller: please apply your changes to the latest version and try again"
**Describe the solution you'd like**
I would like for ExternalSecrets controller to update the status of external-secrets without erroring out.

**What is the added value?**
Currently we are generating a new token every few seconds because the controller is stuck in a loop of trying to update existing `externalsecrets` status but is unable to.

**Give us examples of the outcome**
the crd
[code]

I

[2021-05-20 21:04] atsai1220 commented on #162
This is resolved for me. The issue was my CD pipeline was think the external-secrets object has been changed because its `status` changed and now there are two controllers competing over who gets to update this file. Clue is at `metadata.resourceVersion`.

[2021-05-21 06:41] moolen commented on #137
yes, we definitely want that!
I found good source for a reference implementation in the [secret-store-driver-aws](https://github.com/aws/secrets-store-csi-driver-provider-aws/blob/main/auth/auth.go) repo.

I think this is relevant for both `vault` and `aws` provider. That way the controller itself could run with 0 permissions while the service account provides the necessary auth for AWS.

[2021-05-21 10:06] #124 closed

[2021-05-21 10:06] #125 closed

[2021-05-21 15:38] atsai1220 commented on #162
I thought this was resolved for me but the issue came back. Hope someone could provide some insight regarding this. Thank you!

[2021-05-21 15:38] moolen opened #163 "scope access per namespace"
kes docs: https://github.com/external-secrets/kubernetes-external-secrets#scoping-access
eso docs: https://external-secrets.io/guides-multi-tenancy/

This feature is documented but not implemented.
Basicially: with the following annotation you can limit access to certain keys.

[code]

It this a footgun? maybe.
In a perfect world you would have one SecretStore per team with a `role` that restricts

[2021-05-21 16:06] moolen commented on #162
I think that happens when a stale item of a `Kind=ExternalSecret` is in the controller cache. That means someone else touched the external-secret. This may be a race-condition in your CD as you suggested (or some other controller doing $things).
This isn't a real issue as the controller will reconcile the state eventually (with backoff if required).

I thought of retrying the status update but thi

[2021-05-21 16:14] knelasevero commented on #163
I actually like this. But I understand that it could be a footgun. At least for "encouraging" this. What downsides do you see around it?

[2021-05-22 02:33] mcavoyk commented on #163
Another potential method is `ClusterSecretStore` could support a `namespaceSelector` field which could match namespaces by name, label selector, regex or other methods. This would allow a cluster administrator to setup ClusterSecretStore(s) with the necessary permissions and grant certain namespaces permission to use this Secret provider.

[2021-05-22 16:10] moolen commented on #163
Hmm, after thinking a bit about it I feel like eso should not do access control. It should be done (1) on the provider integration side (managing roles and permissions on the provider side) and (2) via RBAC (who is allowed to create an ES) including tools that allow more fine-grained control like kyverno and OPA. Maybe it's enough to add more documentation and examples on how to use these tools fo

[2021-05-22 16:22] moolen commented on #134
Yes, that's a good suggestion! I would favor label matches rather than having explicit namespace binding and also have a way to extend the namespace selection similar to [NetworkPolicy](https://kubernetes.io/docs/concepts/services-networking/network-policies/#networkpolicy-resource) (e.g. with `matchExpressions`).

[code]

[2021-05-22 16:42] knelasevero commented on #163
This makes me remember this comment: https://github.com/external-secrets/external-secrets/issues/19#issuecomment-756857827

[2021-05-24 21:07] atsai1220 commented on #162
Thank you for the insight. We do have two controllers modifying both files but it seems like external-secrets eventually reconciles and back-off.

[2021-05-24 21:07] #162 closed

[2021-05-26 11:48] knelasevero opened #168 "Figure out our coverage enforcement"
It is marking all our PRs as red... We have some options I think:

1- Remove codecov. We can still enforce and ask people to write tests with code review. Codecov also had data breach recently and this made some people jump off of it. Not sure though.

2- We find a way to configure Codecov to let coverage decrease if it is just a bit. I had a quick look and did not find a way, but did not look dee

[2021-05-26 16:09] knelasevero commented on #129
@moolen @mcavoyk is this somethink that makes sense in ESO?

@cep21 Would you be willing to implement this an sending us a PR?

[2021-05-27 00:43] atsai1220 opened #169 "ExternalSecret controller constantly updating and generating Vault tokens"
After tinkering about with this issue (https://github.com/external-secrets/external-secrets/issues/162), we realize we were still experiencing this issue when creating a stand-alone ExternalSecret CRD that is not touched/managed by any other controller.

The secret is retrieved successfully but the controller seems to be generating an excessive amount of Vault tokens. I can query for an external s

[2021-05-27 01:22] atsai1220 commented on #169
I ran `make run` locally and `externalSecret.Spec.RefreshInterval.Duration` looks correct.

[code]

[code]

[2021-05-27 01:43] atsai1220 commented on #169
If I add some logging to the `externalsecret_controller.go` file then I can see a new Vault client is created almost every second. it is as if `RequeueAfter` is not respected or that the controller sees a change because the controller made a status update to the object.

[code]

[code]

[2021-05-27 02:10] atsai1220 commented on #169
Here is a GIF that shows `status.refreshTime` changing even though the ExternalSecret has `0` for `spec.refreshinterval`. This is the same for other ExternalSecrets that have higher `spec.refreshinterval`. It seems to me a new Vault token is created each time too and that's the issue I'm running into.

![refresh](https://user-images.githubusercontent.com/14171643/119754871-ea758500-be55-11eb-96f5-

[2021-05-27 03:51] mcavoyk commented on #129
This project has the advantage of a `refreshInterval` that is definable per `ExternalSecret` rather than at a controller level, so polling can more easily be reduced compared to the polling in KES. I think some more controls over the provider rate limiting could be added to the `SecretStore` spec, but I'm unsure how well a webhook fits into our current operator.

[2021-05-27 16:27] cep21 commented on #129
We have a very large cluster and lots of secrets.  What's the problem with webhooks like
* /refresh&secret=<path> that refreshes the external secret at this namespace/name
* /refresh&external_path=<secret_path> that refreshes all external secrets that reference a secret at a path

[2021-05-28 05:36] moolen commented on #129
I absolutely see the use-case! Is there something which you can not do through the Kubernetes API server? I'm a little hesitant adding this kind of feature because it involves duplicating a lot of features that are already present in the API server (authentication, authorization, TLS, list by label, cross-referencing resources).

I mean, it's a simple `kubectl annotate externalsecret foobar rotate

[2021-05-28 06:55] mcavoyk commented on #129
I agree @moolen, I should have been more specific that my previous statement was in-regards to supporting a specific webhook service for the operator that could be used.

A refresh action is already support based on the current implementation of ExternalSecret. Any update to the ES, like an annotation being added/updated, will trigger a refresh of the secret. This should be added to the documentat

[2021-05-28 07:11] cep21 commented on #129
We manage our kubernetes objects via gitops (Flux).  It's a bit more annoying to setup a pipeline from SecretsManager -> Clone Repo -> Modify file ->Git Push -> Bot PR accept -> Git Merge -> Push than it is to setup SecrestManager -> webhook, and it will pollute our git repository with a bunch of commits, but it's not the end of the world.

It's good to know the annotation does a refresh.  I agree

[2021-05-28 09:54] gabibeyer commented on #137
Would it be alright if I took this issue on?

[2021-05-28 15:28] #33 closed

[2021-05-28 21:17] moolen commented on #129
I think the annotation doesn't need to be committed in the repo, i'd say it's kind of similar to the `kubectl/last-applied-configuration` annotation or generated values (uid, creationTimestamp, managedFields..). Yes, they are important for the cluster and something makes use of it but it shouldn't be stored in a git repo because it's something that belongs to the cluster where the resource is loca

[2021-05-28 23:02] moolen commented on #169
I was able to reproduce the issue. The root cause is:
when we update the status field which contains the `refreshTime` field this triggers another reconciliation. If that reconciliation is not finished within the same second it will trigger another reconciliation (and so on and so on).

to reproduce:
add this somewhere in the `.Reconcile()` func

[code]

not sure how to tackle this issue. Either w

[2021-05-28 23:08] moolen commented on #137
sure, go ahead :)

[2021-05-28 23:47] atsai1220 commented on #169
Thank you for the insight. Just bouncing ideas here and I hope it makes sense to those with more experience but if not I enjoy a good learning experience too. Would guiding users to use `.Spec.Target.Template.Metadata` as described here (https://github.com/external-secrets/external-secrets/issues/68#issuecomment-825623197) be the way to go for managing target Secret's label and annotations if we o

[2021-05-29 01:52] cep21 commented on #129
This is great information.  So annotations are ignored by apply and not unsynced normally by gitops? Thanks for the info!

[2021-05-29 07:48] moolen commented on #129
From the [docs](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#kubectl-apply)

Apply basically ensures that the stuff from your repo is exactly how you intend it to be while leaving all other fields as they are.

[2021-05-31 13:03] knelasevero commented on #95
Oh, I think that we need to tell devs to install kubebuilder on our dev guides, this is missing right now:

would be something like our ci

[code]

[2021-06-02 17:06] atsai1220 commented on #169
It should be possible if we also use `predicate.AnnotationChangedPredicate` and `predicate.LabelChangedPredicate` in relation to annotation and label updates along with `predicate.GenerationChangedPredicate`.

Annotation
https://github.com/kubernetes-sigs/controller-runtime/blob/fca94d5ab22dfccc576140375042c45298ebbc4b/pkg/predicate/predicate.go#L189-L201

Label
https://github.com/kubernetes-sigs/

[2021-06-03 19:05] atsai1220 opened #179 "ExternalSecret TemplateFrom ConfigMap does not exist in CRD"
**Describe the solution you'd like**
Using `templateFrom` would be a great use-case for alertmanager since we wouldn't need to fight against Go templating and delimiting in the secret string.

**What is the added value?**
We can manage receivers and routes with git by using ExternalSecrets for multiple clusters.

**Observations (Constraints, Context, etc):**
The CRD does not have information relat

[2021-06-04 20:38] mouhsen-ibrahim commented on #156
I would like to work on this issue, however, I cannot find docs for writing tests, where can I find the documentation for tests?

[2021-06-05 08:16] rverma-nsl opened #181 "Support arm builds"
**Describe the solution you'd like**
Provide arm64 builds to run on graviton

[2021-06-08 10:00] gabibeyer commented on #137
Hi @moolen and @javanthropus we are a bit unclear on the workflow for this authentication method. We decided to start with the AWS implementation (will probably ask vault questions later :stuck_out_tongue: ). In my understanding, the TokenRequestAPI is used to fetch a token using a serviceAccount from the kubernetes cluster. This would be performed at the SecretStore (authentication) level. Once t

[2021-06-08 13:33] javanthropus commented on #137
The mechanism used by AWS IAM and OIDC/JWT authentication in Vault will be different.  In the AWS case, you'll exchange the token with AWS IAM to get temporary AWS credentials, so there will be no need at all for standard AWS credentials to be used or provided.  This exchange mechanism is built into the AWS SDK in order to support [IRSA](https://aws.amazon.com/blogs/opensource/introducing-fine-gra

[2021-06-08 19:49] allen-servedio commented on #66
Hi @knelasevero - we were wondering where you were with this issue. We are interested in trying this out in IBM Cloud and are willing to assist with this if needed.

[2021-06-08 20:26] knelasevero commented on #66
Hi @allen-servedio! We are using this issue to do some mob programming and introduce some newcomers to the project internally here at Container Solutions. I think that we will probably open a PR this week, latest next week

[2021-06-08 20:41] moolen commented on #8
I'm gonna close this in favor of #179.

[2021-06-08 20:41] #8 closed

[2021-06-08 20:50] moolen commented on #179
I feel you :sweat_smile:

The `templateFrom` field is not yet implemented. The idea is to have a ConfigMap that stores the template instead of having to define the template in-line. Multiple ConfigMaps can be specified, the fields are merged in-order (last item may override first item).

[2021-06-08 21:43] allen-servedio commented on #66
Sounds great @knelasevero ! Let us know if you need any help...

[2021-06-09 16:27] moolen opened #187 "Azure: support all key types"
Azure KV API responds with a JSONWebKey ([source](https://github.com/Azure/azure-sdk-for-go/blob/v55.1.0/services/keyvault/v7.0/keyvault/models.go#L2139-L2171)) which may contain multiple key types (EC, RSA, OCT aswell as keys from non-exportable HSM private keys).

The JWK may contain both the public and private components of a key.

Right now we can only deal with RSA public keys. We also do a e

[2021-06-09 16:45] moolen opened #188 "document deprecation policy"
We should define our API surface and formulate a deprecation policy for it. This helps users to identify the risk of breaking changes in the future.

We might want to follow the Kubernetes deprecation policy ([docs](https://kubernetes.io/docs/reference/using-api/deprecation-policy/)).

The following snippet is a draft:

---

### Deprecation Policy

We roughly follow the [Kubernetes Deprecation Pol

[2021-06-22 07:54] avbenavides opened #201 "Unable to pull more than one secrets from a GCPsm ExternalSecret"
**Describe the solution you'd like**
Ability to pull more than one secret from GCPSM

**What is the added value?**
Expected behavior as per examples

**Give us examples of the outcome**
SecretStore
[code]

ExternalSecret
[code]

Expected a secret with two data entries like this:
[code]

**Observations (Constraints, Context, etc):**
 K8s Rev: v1.18.17-gke.1900
 ExternalSecrets: "v0.2.0"

** Error M

[2021-06-22 10:27] knelasevero commented on #31
I think this issue can be closed by https://github.com/external-secrets/external-secrets/pull/203

And then would make sense to open one issue per provider so we better track it

[2021-06-22 10:29] knelasevero opened #205 "e2e tests for GCP"
Implement e2e tests for the GCP SM provider.

AC:

- All happy paths covered
- Few edge cases, and expected failures covered

[2021-06-22 10:29] knelasevero opened #206 "e2e testing for AWS Paramenter Store"
Implement e2e tests for the AWS PS provider.

AC:

- All happy paths covered
- Few edge cases, and expected failures covered

[2021-06-22 10:30] knelasevero opened #207 "e2e testing for Azure Key Vault"
Implement e2e tests for the Azure KV provider.

AC:

-All happy paths covered
-Few edge cases, and expected failures covered

[2021-06-22 10:31] knelasevero opened #208 "e2e tests for Hashicorp Vault"
Implement e2e tests for the Vault provider.

AC:

-All happy paths covered
-Few edge cases, and expected failures covered

[2021-06-22 10:32] knelasevero opened #209 "e2e tests for AWS Secrets Manager"
Implement e2e tests for the AWS SM provider.

AC:

-All happy paths covered
-Few edge cases, and expected failures covered

[2021-06-22 10:34] knelasevero commented on #31
Openned new issues: #205, #206, #207, #208, #209

[2021-06-22 10:34] #31 closed

[2021-06-22 15:50] k-p-ani opened #210 "For GCP, property field of remoteRef in ExternalSecret is not working"
Not able to access credential from GCP. I have my secrets created with name **git-creds** and stored in GCP as json format as below.
{"**git-token**": "my-token", "**git-username**": "my-user"}

Below Is my ExternalSecret yaml file.

apiVersion: external-secrets.io/v1alpha1
kind: ExternalSecret
metadata:
  name: gitlab-creds
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: SecretStore
    n

[2021-06-22 18:06] knelasevero commented on #210
remoteRef property for getting inner keys from a json string is not yet supported for GCP. PRs are welcome (right now you can only get a single string value)! :smile:

Yes, you are right, the docs are wrongly referencing a key that is not there. This must be fixed. I will open a specific issue for that.

[2021-06-22 18:08] knelasevero opened #211 "GCP docs jsonpath command is wrong"
The jsonpath data extraction command is referencing the wrong key, this should be fixed:

https://external-secrets.io/provider-google-secrets-manager/

This is the wrong command:

[code]

[2021-06-22 18:09] knelasevero commented on #210
Opened this one: https://github.com/external-secrets/external-secrets/issues/211

[2021-06-23 06:37] k-p-ani commented on #210
oh,
seems like due to this limitation we have to fall back to kubernetes external secrets implementation (https://github.com/external-secrets/kubernetes-external-secrets)

[2021-06-23 09:10] knelasevero opened #212 "We need to document and give some examples on how to use ClusterSecretStore"
We need to add examples to https://external-secrets.io/api-clustersecretstore/

and we need to reference this as an option from the other pages because I think it is a bit "hidden". Got some people asking me how to have a single Store per cluster and they not being aware about ClusterStore even after looking at our docs

[2021-06-23 09:13] knelasevero opened #213 "Comparison in test is wrong"
https://github.com/external-secrets/external-secrets/blob/0e3568f498bd1ebc6f8182580c6a6c2da82d8517/pkg/provider/gcp/secretmanager/secretsmanager_test.go#L162

This comparison is inverted. We need to report and throw an err when things are different. Also out and v.expectedData need to be of the same type. Right now they are different kinds of maps.

[2021-06-23 09:19] knelasevero opened #214 "Can't check if interface is nil like we are doing in GCP provider"
https://github.com/external-secrets/external-secrets/blob/0e3568f498bd1ebc6f8182580c6a6c2da82d8517/pkg/provider/gcp/secretmanager/secretsmanager.go#L139

sm.SecretManagerClient is an interface and we cannot compare it with nil if it is not set, it will throw a segmentation fault. We will need something like, we can leave it in our utils package:

[code]

[2021-06-25 11:29] knelasevero commented on #210
I am going to implement this one and let you know.

[2021-06-25 13:34] gabibeyer commented on #137
I **hate** to be that person, but I need to unassign myself from this issue. My workload is too high at the moment. I'm sorry for the inconvenience.

[2021-06-25 13:58] knelasevero commented on #137
No worries Gabi :) Thanks for letting us know!

[2021-06-25 19:28] #187 closed

[2021-06-25 19:29] #169 closed

[2021-06-25 21:46] #201 closed

[2021-06-25 21:46] #210 closed

[2021-06-25 21:46] #211 closed

[2021-06-25 22:12] knelasevero commented on #210
please trying getting latest release :) This should work now.

[code]

[2021-06-26 10:01] moolen opened #221 "Optimize secret update calls"
See external-secrets/kubernetes-external-secrets#737

We should update secrets only when the data has changed.

[2021-06-27 15:04] #129 closed

[2021-06-27 15:04] #212 closed

[2021-06-28 18:17] kamigerami opened #226 "ClusterSecretStore example not complete for GCP"
The clusterSecretStore example found [https://external-secrets.io/api-clustersecretstore](here) is of kind secretStore instead of a clusterSecretStore.

Also the gcpsm provider part is missing the namespace in secretAccessKeyRef.

Should be something like this.

[code]

[2021-06-28 20:16] moolen opened #229 "implement creationPolicy=Merge"
`spec.creationPolicy` is not yet really implemented and tested. By default, the `ownerReferences` of a Secret are set properly - but this is not yet tested.

AC:
* add tests for creationPolicy=Owner
* implement `spec.creationPolicy=Merge`
* consder dropping `creationPolicy=None` and research/document the use-case

[2021-06-29 07:29] gabrielbatir opened #231 "Deleted externalsecrets still have metrics exported"
I was trying to figure out some alerting rules based on the metrics exported by the external secrets operator and I noticed that if I delete an externalsecret I still get the externalsecret_status_condition metric for it. This looks like a bug.

[2021-06-29 07:43] gabrielbatir opened #232 "Secret template issue"
Hello.

I have this externalsecret:

[code]
The decoded secret is:
[code]
As you can see the generated secret has a password item besides the ldap.toml item from the template. How can I generate the secret without it?

Thank you.

[2021-06-29 13:35] #188 closed

[2021-06-29 13:43] #179 closed

[2021-06-30 12:08] moolen commented on #231
This is the default behavior of the prometheus client library. We can surely reset the counter when an API Object has been deleted 👍 .

[2021-06-30 15:10] gabrielbatir commented on #231
It would be great if this could be fixed.
From what I understood externalsecret_status_condition has a value of 1 when the secret was created successfuly and 0 when there was an issue and the secret was not created. I was trying to create an alert based on that.
If there are many secrets that could not be created in the last 5 minutes there might be an issue somewhere in the chain.
If that counter

[2021-07-01 10:10] #226 closed

[2021-07-01 10:14] knelasevero opened #236 "On tests only check for output data when we have no errors"
https://github.com/external-secrets/external-secrets/blob/b06e4637eed517229faca5d0376d0d56d99d9338/pkg/provider/gcp/secretmanager/secretsmanager_test.go#L150

https://github.com/external-secrets/external-secrets/blob/b06e4637eed517229faca5d0376d0d56d99d9338/pkg/provider/gcp/secretmanager/secretsmanager_test.go#L183

Probably better to only check for the output data if we dont have an error, specia

[2021-07-01 19:43] kamigerami commented on #232
experiencing the same issue in addition to some of the builtin functions such as fromJSON and base64decode not being available.

[2021-07-02 06:35] moolen commented on #232
Thanks for the feedback @gabrielbatir. This was initially by design but i think it doesn't make much sense when a user supplies a template, we'll fix that!

@kamigerami what/how did you specify the template, can you paste it here?

[2021-07-02 16:07] knelasevero opened #240 "Alibaba Cloud Secrets Manager provider"
Implementation for Alibaba Cloud Secrets Manager provider.

AC:

- Of course unit tested
- At least manually functionally tested

Ideally also e2e tested

[2021-07-05 09:54] knelasevero opened #242 "Support other secret types for IBM Cloud SM"
Right now the PR (#235) that we have open only implements the support for `type=arbritary` secrets. We want to support other types

AC:

- Support User creds
- Support Certs

[2021-07-05 10:22] #66 closed

[2021-07-05 11:36] knelasevero commented on #66
Hey @allen-servedio , ibm Provider is merged but we have additional things still missing https://github.com/external-secrets/external-secrets/issues/242

Would you like to take #242 ?

[2021-07-05 12:53] allen-servedio commented on #66
Thanks @knelasevero for doing this so quickly. We are going to look at adding the secret types and one of my team members will get back to you.

[2021-07-05 13:56] knelasevero opened #244 "Get ESO into redhat community operatorhub.io"

[2021-07-05 13:56] knelasevero opened #245 "Get ESO openshift certified (if it makes sense)"

[2021-07-06 14:08] #213 closed

[2021-07-06 14:08] #236 closed

[2021-07-06 18:11] atsai1220 commented on #179
@moolen Thank you for making this PR (https://github.com/external-secrets/external-secrets/pull/222)! I tried installing v0.2.1 and v0.2.0 and the CRDs in the packages does not seem updated with the new fields. Manually applying the CRD from the main branch worked though.

Is this something I can help package?

Package links from the Helm chart.
https://github.com/external-secrets/external-secrets

[2021-07-06 20:12] atsai1220 commented on #179
I build my own image and seems like the service account used needs additional privileges.

[code]

[2021-07-07 05:54] moolen commented on #179
Hey @atsai1220 the `templateFrom` feature was not released yet, it will come into the next release - with your fix :wink:. Thanks for your PR :+1:

[2021-07-07 15:51] knelasevero opened #249 "Secret generation"
### Discussed in https://github.com/external-secrets/external-secrets/discussions/195

<div type='discussions-op-text'>

<sup>Originally posted by **MatteoJoliveau** June 17, 2021</sup>
Hello community!
We're using the old `kubernetes-external-secrets` controller and are in the verge of migrating to this new implementation that we already like very much.

One feature that I think would be very use

[2021-07-08 10:13] ricardoptcosta commented on #161
Hi @sbaier1 ,

Thanks for your issue. I finally was able to dedicate some time to it this week. I'm not very familiar with Vault and I'm having trouble getting mTLS and the TLS Authentication Engine going, even before I work on the SecretStore crd. Can you help me setting the keys and certificates in the right place?

This is my understanding of the certificates and keys that we create before we i

[2021-07-09 10:08] joggeli34 commented on #249
As this proposal involves writing to the secret stores, I could see just a little bit different use-case:

When using wildcard-certificates with let's encrypt and cert-manager, the certificate sometimes must be copied to other namespaces or clusters.

So when not only allowing to generate a new secret, but additionally to watch on an existing secret and write this to the stores whenever it changes

[2021-07-09 21:33] atsai1220 opened #255 "How to use templateFrom?"
Hello! Trying to use the new `templateFrom` feature but I'm unsure if I'm doing this correctly. I am successful in retrieving secrets from Vault but templates in `spec.target.template.templateFrom[].configMap` are not parsed by the templating mechanism. More than likely I'm doing something wrong. Could someone point me in the right direction? I'd be more than happy to contribute towards documentat

[2021-07-09 21:50] atsai1220 opened #256 "GitHub Sponsorship"
https://github.com/sponsors

It'd be nice to be able to sponsor this project for $x per month. Though this should not change the support level since sponsorship is voluntary and expectations should not be changed. It should be a nice thing to do.

[2021-07-09 21:57] atsai1220 commented on #255
Here is a smaller example.
**secret**
[code]

**externalsecret**
[code]

[2021-07-10 15:59] moolen commented on #255
You're doing everything right! There is an issue that templates from `templateFrom` weren't executed. I just pushed a fix in #257. I'll prep a release for it asap.
Thanks for your feedback!

[2021-07-10 19:08] #255 closed

[2021-07-10 19:08] #232 closed

[2021-07-10 19:08] #256 closed

[2021-07-10 20:01] moolen commented on #255
`v0.2.3` is out with the fix!

[2021-07-11 19:21] atsai1220 commented on #255
Thank you!

[2021-07-12 11:10] moolen opened #261 "GCP: support more authentication methods"
Right now we only support explicit service account bindings with `Kind=Secret`. We could support a similar approach like in the aws provider:

1. use explicit configuration from `Kind=SecretStore`: GCP service account, Kubernetes SA JWT (workload identity) etc. ([api opts](https://pkg.go.dev/google.golang.org/api/option#WithTokenSource))
2. fallback to controller environment: [SDK defaults](https:

[2021-07-12 19:55] moolen opened #263 "AzureKV dataFrom implementation returns all secrets"
The azure `dataFrom` implementation returns all `secrets` of the vault while the `ref.Key` is not used at all.

It should:
* respect the well-known prefixes to select an object-type: `secret|cert|key`
* return an error when specifying an `cert` or `key`
* a secret value can be interpreted as json-string so it can be used with `ref.Property`

https://github.com/external-secrets/external-secrets/blo

[2021-07-13 15:44] #229 closed

[2021-07-13 15:50] mouhsen-ibrahim commented on #261
Actually I already implemented workload identity for my company and I am using it there, I will create a PR soon for this

[2021-07-14 12:03] tpolekhin commented on #242
Hello, @knelasevero
Thank you for implementing a support for IBM Cloud Secrets Manager!
I have successfully tested it on my Kubernetes cluster.

Regarding other secret types: I was looking at the code and crd structure to find a way to provide a secret type, but can't seem to find a good place to do this.
I don't want to configure this in the SecretStore CRD because this would require us to create

[2021-07-14 15:07] moolen commented on #242
We've had the same issue with the azure keyvault provider. They're called `object-types` there. We went with the following solution: We prefixed the `remoteRef.key` with an object type (or secret type). I think for `v1alpha1` this is the way to go. For the future (maybe?) should embed an `objectType` or `secretType` into the crd to make that explicit.

[code]

[2021-07-16 09:45] knelasevero opened #270 "Oracle Cloud Vault Provider"
I think it was called Oracle KMS before and changed its name to Vault. I don't think many people use this, but would not hurt to also support this one.

[2021-07-21 14:23] knelasevero opened #273 "Make azure unit tests follow the pattern that we are using everywhere"
Table driven with tweak anonymous functions. Basically all providers are doing that, and we can adapt azure to follow same pattern.

[2021-07-21 22:07] #242 closed

[2021-07-22 16:33] MatteoJoliveau commented on #249
@joggeli34 while I do agree that the sync use-case is valid, I don't think external-secret is the right tool to do it. By synchronizing with the external store and then back into the cluster, we risk exposing secrets unnecessarily, because they could be accessed by anyone with read permissions on the external store key.

However, this approach could be interesting to share secrets generated by oth

[2021-07-22 22:33] zeonin opened #277 "Errors when deploying to Openshift 4.7"
While testing external-secrets in an Openshift 4.7 cluster using a Vault SecretStore , I received the following error on the controller:

[code]

This was resolved by adding `externalsecrets/finalizers` to the `update`/`patch` list in the controller's ClusterRole:

[code]

---

Once that was fixed, I started getting a new error that seemed to relate to the ServiceAccount auth method for Vault:

[c

[2021-07-24 08:56] ricardoptcosta opened #280 "Implement unit tests for TLS client authentication"
TLS client authentication (#265) is currently not unit tested.

It should:

- test function `NewClient` when using client certificate and key for authentication
https://github.com/external-secrets/external-secrets/blob/0613b904b620d5332c38ab3ba7c0aa4e740dd2c5/pkg/provider/vault/vault.go#L99-L134

[2021-07-25 13:01] #277 closed

[2021-07-26 08:41] ricardoptcosta commented on #280
added the unit tests TLS client authentication (#265)

[2021-07-26 08:41] #280 closed

[2021-07-27 06:36] Spazzy757 opened #288 "CPU Leak when operator cant find Secret"
**Describe the solution you'd like**
When the secret operator cant find secrets it seems to exponentially increase the cpu usage overtime. Maybe a default retry amount times would be useful here as this could inadvertantly crash systems if left unchecked (noisy neighbours)

**What is the added value?**
More production ready. Less chance of misconfiguration causing the operator to kill a node with

[2021-07-27 07:27] moolen commented on #288
Hey @Spazzy757 thanks for reporting, we'll take a look into it!
Do you have more information like `sync_calls` metric or log events that might indicate what code paths were triggered excessively?

[2021-07-27 11:44] moolen opened #289 "implement controller namespace scope"
As a user i want to deploy ESO scoped per namespace. I.e. ESO reconciles `Kind=ExternalSecret` only in the configured namespace.

see slack discussion: https://kubernetes.slack.com/archives/C017BF84G2Y/p1627366451153000

reference:
* controller-runtime https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/manager.go#L188-L194
* reference implementation flux/kustomize-contro

[2021-07-27 12:58] moolen commented on #288
Just from reading the source code and having the information you provided i would guess that the problem lies here:

https://github.com/external-secrets/external-secrets/blob/59a851c941c37aad703c08565aefe9f09649c498/pkg/controllers/externalsecret/externalsecret_controller.go#L379-L382

When the provider errors, the `.Close()` doesn't get called. It must called as `defer providerClient.Close()`.
AF

[2021-07-28 07:29] #263 closed

[2021-07-28 07:38] #181 closed

[2021-07-28 08:08] moolen commented on #249
Just as a sidenote: some people use crossplane to generate/write secrets to AWS Secrets Manager and use ESO solely for the read-path.

[2021-07-28 10:51] #288 closed

[2021-07-29 09:04] Spazzy757 commented on #288
Thanks for the awesome quick fix @moolen

[2021-07-29 14:13] runningman84 opened #299 "refreshInterval: never"
**Describe the solution you'd like**
I would like to have an option to disable refreshing...

**What is the added value?**
If you ypu have hunderts of secrets you will eventually get a rate limit. But if you only sync them during deployments there would not be any error.

**Give us examples of the outcome**

Provide templates if you are proposing changes in the CRD. Provide example workflows or co

[2021-07-29 14:28] ob-nitaib opened #300 "IBM Cloud Secrets Manager: Secret Key Not Found"
**Describe the solution you'd like**
I would like the solution to connect to IBM Cloud Secrets Manager and find the secrets that I have stored there, regardless of which secret group they are stored in.

**What is the added value?**
This will make the IBM Cloud Secrets Manager provider functional, or please make the error more detailed so can debug

**Observations (Constraints, Context, etc):**
I

[2021-07-29 14:32] ob-nitaib commented on #300
Here is the error message that is coming up in the ES pod related to the above:
[code]

[2021-07-29 15:02] moolen commented on #300
The authentication seems fine when i look at the logs. Are you sure that:
1. your secret provider points to the correct region in `serviceUrl` ?
2. you request the "correct" object type? default is `arbitrary` see #271

[2021-07-29 15:08] moolen commented on #299
You can set it to `RefreshInterval: 0` to disable refresh.

[2021-07-29 15:09] moolen opened #301 "ibm: document new secret types"
Document new secret types introduced in #271. OP documented the mechanics in the PR.

Also: add documentation regarding the base url: the `/api` suffix must not be present in the `serviceUrl`, see #300

[2021-07-29 15:35] ob-nitaib commented on #300
1. Here is my serviceUrl: `https://<redacted>eu-de.secrets-manager.appdomain.cloud/api` - in particular the region is `eu-de`. As per previous comment, I can use this in Postman to list secrets, and perform other actions without difficulty.
2. I have created arbitrary secrets in Secrets Manager. I haven't set anything to explicitly define which type of secret it should be looking for and so I assu

[2021-07-30 07:30] moolen commented on #300
Have you tried it without the `/api` segment in the url?

[2021-07-30 08:04] ob-nitaib commented on #300
Perfect thank you, this has worked. The Service Urls that are provided by Secrets Manager have `/api` appended to it. It might be worth updating the documentation to reflect this accordingly?

[2021-07-30 08:42] moolen commented on #300
Good to hear that it works now :)
I saw it in the screenshots that there's a `/api` appended. The IBM SM docs display it correctly: https://cloud.ibm.com/apidocs/secrets-manager#getting-started-endpoints. I added this enhancement to the above mentioned issue.
Thanks for reporting the issue.

[2021-07-30 08:42] #300 closed

[2021-07-30 09:15] ricardoptcosta commented on #208
As stated by @moolen, for testing certificate auth we would need to:

- run vault in standalone mode.
- generate TLS key/certs
- mount them in vault
- configure vault to use the TLS key/certs
- configure an unseal mechanism (or script it in the Install() function here.)
- write the actual tests

[2021-07-30 09:29] neocycf commented on #288
Memory leak fixed. Thanks!

[2021-08-02 13:21] lukasmrtvy opened #317 "feat: Azure Keyvault MSI authentication"
Would be great to support "credential less" integration with Azure Keyvault with MSI authentication.

ping @ahmedmus-1A @asnowfix @ncourbet-1A @1A-mj

[2021-08-02 14:48] runningman84 commented on #299
This does not seem to work:
Error: UPGRADE FAILED: release wp-bedrock-sample failed, and has been rolled back due to atomic being set: failed to create resource: ExternalSecret.external-secrets.io "wp-bedrock-sample-wordpress-bedrock" is invalid: spec.refreshInterval: Invalid value: "integer": spec.refreshInterval in body must be of type string: "integer

[2021-08-02 20:03] moolen commented on #208
I'll be working on this issue. Plan so far:

* setup vault as mentioned above
* add tests around authentication mechanisms: cert, token, jwt, k8s

[2021-08-02 20:04] moolen commented on #137
i un-assigned myself as i'm currently not working on the Vault provider for this use-case.

[2021-08-02 20:49] moolen commented on #299
sorry, that was a typo i guess:  `spec.refreshInterval: "0"` (with quotes).

I triple checked whether it works or not and i found a bug.

[2021-08-02 20:54] moolen commented on #299
You must set the `spec.refreshInterval: "0"` as mentioned above but this will completely disable the sync for ever. You must change the ExternalSecret.spec, it's labels or annotations with every deployment in order to trigger a sync.

[2021-08-03 14:22] ievgenii-shepeliuk commented on #134
Maybe there's no need to modify ESO at all.

[This project](https://github.com/emberstack/kubernetes-reflector) provides a Helm chart that installs controller that can copy (aka mirror) secrets into all namespaces.

So scenario may look like

1. Install ESO, Install Reflector
1. Configure `ExternalSecret` in some namespace to create a basic secret for mirroring.
1. Add Reflector specific annotatio

[2021-08-04 05:59] #299 closed

[2021-08-04 06:00] moolen commented on #299
This will be included in the next release (probably this week)

[2021-08-04 15:04] moolen opened #305 "using provider metadata (tags, ...)"
Multiple users reported a use-case to sync tags or arbitrary metadata from the secret provider. Yaml spec is defined in comment below.

Implementation status:

- [x] Azure KV
- [ ] AWS Secrets Manager
- [ ] AWS Parameter Store
- [ ] GCP Secrets Manager
- [ ] Hashicorp Vault
- [x] Kubernetes

[2021-08-04 15:09] moolen commented on #209
provider-specific tests (same as #206, but should be tested for both providers):
* jwt authentication + assuming IAM roles
* secret/key authentication + assuming IAM roles
* region configuration

[2021-08-04 15:09] moolen commented on #206
provider-specific tests (same as #209, but should be tested for both providers):
* jwt authentication + assuming IAM roles
* secret/key authentication + assuming IAM roles
* region configuration

[2021-08-04 15:11] moolen commented on #207
provider-specific tests:
* auth via clientId / clientSecret
* + maybe azure AKS managed identity which may come in the future

[2021-08-04 15:14] moolen commented on #205
provider-specific tests:
* auth via secret
* maybe cross-region
* workload identity if applicable

[2021-08-05 03:48] ievgenii-shepeliuk commented on #134
Another option for secret cloning is use Kyverno ploicy engine

https://neonmirrors.net/post/2021-01/kyverno-the-swiss-army-knife-of-kubernetes/#secret-copiersyncher

[2021-08-05 09:03] knelasevero commented on #273
@humrenan wants to Take over this one. Marking him here so we know :)

[2021-08-05 09:39] spirosoik commented on #231
I think introducing a new state is the right way here. Something like `externalsecret_status_condition{condition="Deleted",name="",namespace="",status="False"} 1` because may you want to know that someone deleted accidentally. I have PR ready for this and you can have a look

[2021-08-05 13:06] knelasevero opened #307 "Gitlab CI variables provider"
You can store secret values as CI variables in gitlab, and we can retrieve them through the API. We can have a provider using this as a store. In the old CS solution we had a provider implementing this: https://github.com/ContainerSolutions/externalsecret-operator/tree/master/pkg/gitlab

[2021-08-05 13:09] knelasevero opened #308 "Support for Yandex Lockbox"
https://cloud.yandex.com/en/

Yandex cloud has a secret service named Yandex Lockbox and we could have a provider for it.

This [issue](https://github.com/external-secrets/kubernetes-external-secrets/issues/798) was opened on KES, and we could implement support for Yandex here since this project aims to replace KES.

[2021-08-07 10:41] #208 closed

[2021-08-07 14:10] moolen commented on #161
This was implemented in #265 :tada:

[2021-08-07 14:10] #161 closed

[2021-08-08 05:07] spirosoik commented on #231
Hey @moolen let's close this

[2021-08-08 08:45] #231 closed

[2021-08-09 08:10] spirosoik commented on #289
ok so the idea is that observes only the secrets in this specific namespace and not across everything. Make sense, I can get this if it's ok

[2021-08-09 09:55] NagleZhang opened #314 "Authroization is not work using entriprise version of Vault because namespace is missing."
**Describe the solution you'd like**

authroization is not work using entriprise version of kubernetes because vault namespace is missing.

[code]

**What is the added value?**

support enterprise version of vault.

[2021-08-09 09:59] NagleZhang commented on #314
trying to set `VAULT_NAMESPACE` .

[2021-08-09 10:00] #314 closed

[2021-08-09 13:53] samof76 opened #315 "Deleting one/more key-value pair from the secret in AWS SM does not remove from the K8s Secrets"
**Describe the solution you'd like**
Deleting one/more key-value pair from the secret in AWS SM, the sync does not remove those removed key-value pairs. Using `dataFrom`.

**What is the added value?**
The secrets generated by external secrets must be representative of what is in the AWS SM.

**Give us examples of the outcome**

Assume this is the initial secret store in the AWS SM.

[code]
No if I

[2021-08-09 15:01] aw185176 opened #316 "Add status to printed columns for `kubectl get`"
**Describe the solution you'd like**
Describe the end goal of this proposal. What is this new functionality or the new behaviour (or what problem does it fix)?

`kubectl get externalsecrets` used to show the unwrap status for the secret in the node.js version.

**What is the added value?**
Explain the value that it adds. e.g. "Secret refreshing will make internal secrets up to date with external s

[2021-08-10 05:41] spirosoik commented on #315
I can have a look what we can do.

[2021-08-10 13:15] moolen commented on #317
With OPA you would prevent creating a SecretStore (or ExternalSecret that references an invalid store) in the first place.

Let's assume we would go with a secret store that can configure a pod identity and we would request credentials from [NMI](https://github.com/Azure/aad-pod-identity/blob/1cda91abd69ca1bda2c5f1f83e7c3c897f132396/pkg/nmi/server/server.go#L493-L496):

[code]

OPA/Kyverno can val

[2021-08-10 13:27] #301 closed

[2021-08-10 13:55] moolen commented on #163
Maybe we can implement something like this for the first iteration and add regex or other matches afterwards

[code]

[2021-08-10 15:10] #316 closed

[2021-08-11 19:46] spirosoik commented on #289
@moolen first initial try. By the implementation of kustomize I find a bit ambiguity the two variables to watch namespace. I did what external-dns does nicely too. https://github.com/kubernetes-sigs/external-dns/blob/a690bb990f42703fa8033f575c3dc6e8e536d556/pkg/apis/externaldns/types.go#L362

[2021-08-11 20:02] ArthurPaivaT commented on #134
I can work on it if it's ok

[2021-08-12 11:26] waylonm opened #321 "Target secret name does not default to .metadata.name of the ExternalSecret"
**Describe the solution you'd like**
Target Secret Name should default to the ExternalSecret name if not explicitly specified, as documented in the api reference.

**Observations (Constraints, Context, etc):**
Creating an ExternalSecret resource (via a Vault SecretStore backend) without explicitly specifying the spec.target.name field results in the target Secret not getting created due to:
`Secre

[2021-08-12 14:05] knelasevero commented on #321
@omateusp wants to take this one

[2021-08-12 14:48] Ed-vL commented on #221
Hello! I would like to work on this one as my first issue

[2021-08-12 15:03] waylonm opened #322 "HashiCorp Vault secret key deletions are not synced to kubernetes target secrets"
**Describe the solution you'd like**
Secret Key Deletions from HashiCorp Vault should be synced to Kubernetes target secrets when using `dataFrom`

**What is the added value?**
Target Secret will contain the same key value pairs Vault has.

**Give us examples of the outcome**
If for instance, original vault secret is synced and contains:
[code]
and `key2: value2` is deleted from Vault, the target

[2021-08-12 15:08] waylonm commented on #322
Noticing this might be similar to https://github.com/external-secrets/external-secrets/issues/315 but for different SM backend.

[2021-08-12 18:10] AndreyZamyslov commented on #308
@knelasevero Thank you for creating the issue!

Actually we already have a basic implementation: https://github.com/external-secrets/external-secrets/pull/323
Any help would be appreciated though

[2021-08-12 18:18] spirosoik commented on #322
I am on it @waylonm

[2021-08-12 22:11] ArthurPaivaT commented on #156
I have spoken to @knelasevero and we saw that this PR needs some changes, I can work on it.

[2021-08-17 15:33] knelasevero opened #325 "Migration script so we can make it easier to go from KES to ESO"
**Describe the solution you'd like**
Maybe we start a new project and write a script there to read through KES based CRDs on the cluster and create ESO based ones with values that make sense and all that. In the end it would test if everything is correct, if things have the correct reference to secrets, and would delete the KES CRDs and deployments. (I am trying to sort something out in this direc

[2021-08-17 15:34] knelasevero commented on #325
@Flydiverny You also did some investigation on this front right? Maybe we could schedule something since I have no experience with KES?

[2021-08-17 15:38] aa250816 opened #326 "Update helm chart to respect helm template --namespace flag"
**Describe the solution you'd like**
Helm template should respect --namespace. Currently serviceaccount.yaml and deployment.yaml don't respect `--namespace.

**What is the added value?**
Make it easy to deploy templated manifests without manually needing to add the namespace. Helpful for automation.

**Give us examples of the outcome**
`helm template deploy/charts/external-secrets external-secrets

[2021-08-18 11:09] spirosoik commented on #315
The issue exists and I have found the cause, I will have a patch

[2021-08-18 13:34] serdarkalayci opened #328 "Add SonarQube analysis to CI pipeline"
**Describe the solution you'd like**
The CI pipeline of ESO project should be analyzed by SonarQube to keep the technical debt under control. We can solve issues (at least those which make sense) that are presented by SonarQube as we develop the project. [Sonar Cloud](https://sonarcloud.io) is free for open source projects.

**What is the added value?**
Software projects especially open source pro

[2021-08-18 15:02] spirosoik commented on #322
@waylonm there is a new PR https://github.com/external-secrets/external-secrets/pull/327

[2021-08-18 15:49] knelasevero commented on #328
Hey @serdarkalayci thanks! Should I assign this issue to you?

[2021-08-19 12:55] samof76 opened #330 "Have concurrency option should increase the speed at which secrets are fetch."
**Describe the solution you'd like**
Having a lot secrets to synced at a give epoch, looks like the fetch is sequentional. Is there an arg or option to make these get calls parallel?

**What is the added value?**
The update of secrets will be much faster if they happened in parallel.

**Give us examples of the outcome**
some option like

[code]
to your code will distribute the secrets to be fectch

[2021-08-19 13:38] samof76 commented on #330
We have about 700+ ExternalSecrets each with a refresh interval of `15m` and if I see the logs I see this...
[code]

And many times if I update the a secrets it takes more than 15 mins to get updated, close to 30 minutes.

[2021-08-19 13:59] jack-evans opened #331 "Allow IBM Cloud Secrets Manager Provider to use ContainerAuthentication"
**Describe the solution you'd like**
Describe the end goal of this proposal. What is this new functionality or the new behaviour (or what problem does it fix)?

Currently, when I use the external secrets project I have to provide a reference to a kubernetes secret containing the API key to interact with IBM Cloud Secrets Manager. This means I have to develop a way of bootstrapping the cluster with

[2021-08-19 15:55] jack-evans commented on #330
I guess there is 2 ways you could go in terms of concurrency, and it would be good to distinguish what you exactly mean, do you mean concurrency in handling multiple External secret reconciles in parallel or do you mean handling multiple gathering of secrets (defined within the external secrets CR) in parallel?

The former would definitely be possible however the code should be checked for any iss

[2021-08-19 18:53] alekc commented on #114
If nobody is working on this one I can take it on following @moolen solution (which sounds reasonable to me)?

[2021-08-19 19:54] knelasevero commented on #331
This makes sense to me. Not sure I understand the 'outcome' description. Would you be up to helping implementing this?

[2021-08-19 20:25] knelasevero commented on #330
Yeah, what @jack-evans said :)

Also, do you need secrets to be updated this quickly? Or is the refresh interval small just because you want to be sure that when you change a secret in a provider they will be updated in the cluster in less than 15 min? If you don't expect changes every 15 min, and you just want changes to go when you have new values, you can force updates with annotations (probabl

[2021-08-20 04:29] samof76 commented on #330
ExS - ExternalSecret
ASM - AWS SecretsManager

Yes

I think is well handled already. BTW we have one-one mapping between an ExS and an ASM secret.

Not really. But we would definitely want a mechanism for an ExS CR to update a K8s `Secret` as soon as is done on the ASM. But your method seems to involve a manual mechanism, that is why we could want to keep the `refreshInterval` low.

Yes they all b

[2021-08-20 06:26] knelasevero commented on #330
Please have a look over this discussion: https://github.com/external-secrets/external-secrets/issues/129

You can make it automatic without manual step from the Aws side

[2021-08-20 07:13] serdarkalayci commented on #328
Sure @knelasevero, go for it

[2021-08-20 07:24] knelasevero commented on #328
@serdarkalayci accept the GitHub invite for read access on the repo

[2021-08-20 08:39] jack-evans commented on #331
yes sorry not 100% sure on the best way to implement this in a way that would be consistent across the rest of the providers....

What I was originally thinking was:

[code]

however I am now thinking moving it a layer down and gate it on the type of secretRef provided:

[code]

[2021-08-20 08:54] jack-evans commented on #330
@samof76 I have a branch [here](https://github.com/jack-evans/external-secrets/tree/concurrency) but have not tested for any concurrent object access issues (however a brief look through the code I couldn't see any).

I would be grateful if you could test it with your 700 ExternalSecrets on a test cluster to validate that it is working better. Note you may have to increase cpu and mem limits as co

[2021-08-20 09:47] knelasevero commented on #331
Yeah, makes a lot of sense to me to get it as another optional secretRef!

[2021-08-20 10:32] Atoms commented on #261
Any updates on this ? :)

[2021-08-20 10:49] knelasevero commented on #261
I can't take this one right now. @mouhsen-ibrahim you mean that you did a similar thing in another project? Or at a fork of external-secrets?

[2021-08-20 12:10] #321 closed

[2021-08-20 17:17] renaudguerin commented on #261
@mouhsen-ibrahim Super interested in your workload identity support PR !
This is blocking me from migrating to ESO (I've just started with KES which does support WI)

[2021-08-23 04:03] samof76 commented on #330
@jack-evans will do this tomorrow and let you know.

[2021-08-23 04:19] samof76 commented on #330
This is really excellent bit of conversation that somehow needs to find its way into the doc. May be having an FAQ in the docs may help.

[2021-08-23 06:22] spirosoik commented on #325
@knelasevero I can help, I have used KES a lot

[2021-08-23 08:12] knelasevero opened #336 "Integrate with csi-driver-secret-store"
Find a way to reference their SecretProvider in our storeRef

[2021-08-23 09:22] knelasevero commented on #331
@jack-evans can I assign this to you?

[2021-08-23 09:24] knelasevero commented on #322
We can close this right? @spirosoik @waylonm ? I will cut a new release when I have some time

[2021-08-23 09:25] knelasevero commented on #315
We can close this right? @spirosoik @waylonm ? I will cut a new release when I have some time

[2021-08-23 09:32] knelasevero commented on #325
@spirosoik let's discuss on the next community meeting? We need to make it a bit "blue-green" to avoid problems, specially for people using this in production. I was thinking about just a simple mindless bash script calling required stuff

[2021-08-23 10:19] jack-evans commented on #331
Sure - I'll try and make some time to look into this when I can 🙂

[2021-08-23 20:31] mouhsen-ibrahim commented on #261
@knelasevero @renaudguerin Sorry for the delay, here is my PR #339

[2021-08-24 12:41] aa250816 commented on #326
fixed by #337 closing

[2021-08-24 12:41] #326 closed

[2021-08-24 16:27] knelasevero commented on #205
workload identity is only testable if the cluster is GKE right? Same problem as we had for AWS, right? But I think we can use CS infra for that. I will figure out. Having a preemptible (spot) cluster should suffice.

[2021-08-24 17:00] #261 closed

[2021-08-24 19:01] Flydiverny commented on #325
Aye! I started some basic convert KES resource to close-ish ESO resource. Would need more work and need a way to handle defining backends.
Anyway I pushed what I played with here https://github.com/Flydiverny/kes-to-eso/blob/main/kes-to-eso.mjs

[2021-08-24 20:35] alekc opened #342 "fix documentation for Aws irsa provider"
I was trying to implement an aws Irsa approach by following https://external-secrets.io/provider-aws-secrets-manager/

On that page, there is a following example:

[code]

however, when I was trying to apply a pretty much similar object, I got following error:
`SecretStore.external-secrets.io "xxxxxx" is invalid: spec.provider.aws.region: Required value`

I am not 100% sure if in this case the `re

[2021-08-24 21:09] moolen commented on #342
The [AWS SDK](https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html) docs say:

The aws config `Session` type documents:
[code]

This parameter on the SecretStore type is mandatory to avoid making the configuration implicit through environment variables from the controller container. IMO we should change the docs and add the region field there!

[2021-08-25 08:33] #342 closed

[2021-08-25 10:06] #308 closed

[2021-08-25 10:35] moolen commented on #114
fixed with #334

[2021-08-25 10:35] #114 closed

[2021-08-25 11:13] jeffa5 opened #344 "Deleted secret isn't recreated until refresh"
**Describe the solution you'd like**

When a secret (created from an ExternalSecret) is deleted it isn't recreated until the refresh happens (if one will).
The status field on the ExternalSecret remains in `Ready` state despite one of the conditions being `  # - The target secret exists` (from [this page](https://external-secrets.io/api-externalsecret/)).

Instead, it should be recreated immediate

[2021-08-25 11:20] knelasevero opened #345 "GCP Workload Identity does not work with ClusterSecretStore"
We keep checking if the namespace was set for ClusterSecretStore. I think we can only check the namespace if the secretRef name is not empty, and that would fix it.

reference:

https://github.com/external-secrets/external-secrets/blob/ee830e47e342343e0ea862be11e82fa4bacca1ce/pkg/provider/gcp/secretmanager/secretsmanager.go#L83

Gonna try this and test it this afternoon. We can't have e2e tests fo

[2021-08-25 12:05] samof76 commented on #330
May tomorrow or friday will have update on this.

[2021-08-25 21:39] iAnomaly opened #347 "Feature: Reverse Injection/External Sink"
**Describe the solution you'd like**
There are use cases where Secrets created in Kubernetes are desired to be injected (ejected?) back out to the backing external secret store (Secrets Manager, SSM Parameter Store, etc.) Examples might include certificates created by [cert-manager](https://github.com/jetstack/cert-manager), connection details for infrastructure created by [Crossplane](https://git

[2021-08-26 16:12] omateusp opened #350 "We need tests for target secret name defaults"
We now have the target secret name defaulting to the ExternalSecret metadata name, but we need to to have a test for that.

[2021-08-26 17:15] tedtramonte opened #351 "feat: specify GitLab url to connect to"
**Describe the solution you'd like**
Provide a URL for a GitLab SecretStore to connect to, rather than only `https://gitlab.com`.

**What is the added value?**
GitLab can be self-hosted and the current implementation blocks an entire demographic of users. Adding a field for the GitLab URL allows self-hosted GitLab users to implement `external-secrets` in their environment.

**Give us examples of t

[2021-08-27 10:15] alekc opened #353 "Add Event filters to reconcilers"
**Describe the solution you'd like**
When updating one of the observed objects, a reconcile event is triggered (even if it's just a status update). We should introduce event filters to avoid unnecessary queries against kube apis

**What is the added value?**
Less queries/reconcile loops

**Give us examples of the outcome**
See https://github.com/alekc-go/gitlab-runner-operator/blob/42fb82c31828dd2

[2021-08-27 10:26] alekc opened #354 "Verify stacking of reconcile loops"
I am not sure if it's an issue, but unless someone has definitive  answer it should be looked into it.

At the moment  we use the requeue interval in order to deal with refreshes and it kind of works. My concern is about stacking. Let's say that we have a highly dynamic secret which is being refreshed every 5 min, and we set our refresh interval to 5 min as well. On the second run, we update value

[2021-08-27 10:46] lavrd opened #355 "Old gRPC version"
In go.mod there is a replacing for `google.golang.org/grpc` to version 1.27.0. What the reason? Can we update this library to the latest version?

[2021-08-28 05:07] #351 closed

[2021-08-28 08:46] alekc commented on #354
ok Cool, so the only issue remaining then is the logical one.

From what I got on those docs (and please bear with me, it's morning and I didn't take my coffee yet), let say we have created a externalsecret which has been synced to the kind=secret, refresh time is 24h.
Then 23 h later another event happens (i.e. kind=secret annotation change or whatever).
[code]
means that we will loose our refres

[2021-08-28 08:50] alekc commented on #353
After a slack discussion I am going to close this one for now since the current implementation of the refresh interval would be broken in case of implementation of these filters.

[2021-08-28 08:50] #353 closed

[2021-08-28 11:18] knelasevero commented on #354
Like you say, this is a minor issue in most scenarios, even though it is unexpected for the user. I would personally think that keeping it simple would be better (following KISS approach). A Cron in a separate go routine sounds like unneeded complexity tbh.

I think it would make sense to tackle this if we have recurrent reports of problems in that regard, and I assume that we would not. I could b

[2021-08-28 11:39] alekc commented on #354
Yes, as I said it's a minor. For now we can deal with this by adding a mention in docs against refresh interval, something along the lines `Note: any change against the externalSecret object or the dependent configMap (in case of ownership set to Owner) will cause the drift in the next refresh date`  (native speaker can express it much better probably :p)

[2021-08-28 11:58] alekc commented on #307
@knelasevero this is fixed by https://github.com/external-secrets/external-secrets/pull/319 isn't it?

[2021-08-28 14:26] moolen commented on #354
I'd say this is a bug and i think we can quite easily fix it when we return the time duration from now until the desired refresh time instead od the static refresh interval here:

https://github.com/external-secrets/external-secrets/blob/8258509c0eb5c9098da0adabf7e58895d70cb38c/pkg/controllers/externalsecret/externalsecret_controller.go#L167

[2021-08-28 14:32] alekc commented on #354
Yes, that probably would do it, although a bit of consideration for the errors should be involved as well.

Also, just fiy, that particular bit of code is potentially going to be affected by https://github.com/external-secrets/external-secrets/pull/349 depending on the route I am going to take on that ticket

[2021-08-28 14:36] knelasevero commented on #354
Yeah, makes sense. And it is simple enough.

A colleague added sonar Cube to the project and it revealed very high numbers for cognitive complexity of the controller. Just wanted to make sure we try to keep things simple 😅

But yeah, makes sense

[2021-08-28 14:39] alekc commented on #344
Moved this comment from PR to here since it's probably a better place to discuss.

---

This is tougher than it looks due to a catch 22.

While I was working on the above, I came to realise that we do not store the latest snapshot inside the externalsecret object. As a consequence, at the moment we do not know what's supposed to be inside the kind=secret.

Here are some thoughts:

- We can easily

[2021-08-28 14:45] #307 closed

[2021-08-30 09:39] desek opened #358 "Support for PFX with more than one certificate and private key"
**Describe the solution you'd like**
I'd like ESO to support importing and converting PFX certificates which contains multiple certificates (i.e. Root CA, Intermediate CA and leaf certificate) and one private key.

Decoding PFX certificates that contains more than one certificate with `pkcs12.Deocde()` is not supported which blocks the initial decoding.

Further the certificates should be able to

[2021-08-30 12:25] vladarts opened #359 "Provide openapi schemas for custom resources"
**Describe the solution you'd like**
We are building helm charts for internal usage generating json schemas to validate values files. Now we need to go through the steps:

- Clone the external-secrets repository
- Apply some modifications: add `// +k8s:openapi-gen=true` comment to the `apis/externalsecrets/v1alpha1` and `apis/meta/v1` packages
- Using [kube-openapi](https://github.com/kubernetes/k

[2021-08-31 09:31] runningman84 opened #361 "Use service monitor/pod monitor in helm chart"
**Describe the solution you'd like**
I would like to have a service monitor for the external-secret stuff. The existing annotations based solution falls back behind the old kube-external-secerts project which already used a service monitor.

**What is the added value?**
This will make it easier to integrate this project into an existing prometheus setup which does not use the annotation based solu

[2021-08-31 10:35] jack-evans commented on #330
@samof76 had a chance to test my changes yet?

[2021-08-31 16:08] tarvitz opened #362 "Non-blank spec.target.template nullifies secrets injecting (secrets are blank)"
**Describe the solution you'd like**
To freely use spec.target.template.metadata without side effects.

**What is the added value?**
Be able to add metadata for the other integrations like pods reloader (once a secret is changed by ExternalSecret)

**Give us examples of the outcome**
n / a

**Observations (Constraints, Context, etc):**
External-Secrets version: v0.3.5 without any modifications

[c

[2021-09-01 08:40] #240 closed

[2021-09-01 10:08] #328 closed

[2021-09-01 10:53] #95 closed

[2021-09-01 11:26] alekc commented on #344
So, to sum it up (I am thinking out loud here).

In case of `creationPolicy: Owner` we can either:
- Just trigger the whole resync and fetch secrets from cloud provider
- Store the latest obtained secret data in the annotations (Or status, requires CRD change) on both ExternalSecret and kind=secret and perform full sync only in case they are different/missing
- Store the latest obtained data insid

[2021-09-01 16:44] moolen commented on #344
That's not a problem! We're consciously decided to stay in alpha to gather feedback and be free to add/remote fields to the `v1alpha1` CRD.

I think it would be best to perform a full cycle when the secret has been deleted: External state may have changed (e.g. `templateFrom` ConfigMap has changed). IMO we shouldn't store the plain text secret values in the status subresource.

We should know whic

[2021-09-01 17:38] knelasevero commented on #168
Not sure why I closed this one. @serdarkalayci can you take care of this one?

[2021-09-01 19:46] alekc commented on #344
Ok, so just to confirm: on any change to existing configmap we are going
with a full cycle without storing the outcome in crd. If so, an amendment
to the docs will be in order starting that the refresh internal won't be
respected in case of changes to relate resources (I still need to verify
that a change in case of merged resource is triggered actually, chances are
they are not since we are not s

[2021-09-03 22:34] dfallert-rcd opened #366 "Enable Auth.JWTAuth.ServiceAccountRef.Namespace in kind SecretStore"
**Describe the solution you'd like**
Describe the end goal of this proposal. What is this new functionality or the new behaviour (or what problem does it fix)?

I would like to deploy ESO as a service, like shown here
https://external-secrets.io/guides-multi-tenancy/#eso-as-a-service

In order to do so, I would need the `SecretStore` kind in `namespace: foo` to be ServiceAccount in the ESO's `name

[2021-09-06 14:47] #362 closed

[2021-09-06 20:56] alekc commented on #95
Just adding this one here for now before opening a new issue pr:

To have a different install of kubebuilder (local to project)
[code]

Also, we should bring in https://github.com/kubernetes-sigs/controller-runtime/pull/1488

[2021-09-07 06:43] moolen commented on #289
This was implemented in #320.

[2021-09-07 06:43] #289 closed

[2021-09-07 07:18] moolen commented on #366
This is by design: A namespaced `SecretStore` should only be able to reference secrets, config-maps or service-accounts from the same namespace. If we give this up a user can easily escalate privileges by using SAs from other namespaces.

We have one proposal that allows a `ClusterSecretStore` to be scoped to a particular set of namespaces: https://github.com/external-secrets/external-secrets/issu

[2021-09-07 15:49] dfallert-rcd commented on #366
then how would you propose using [ESO as a service](https://external-secrets.io/guides-multi-tenancy/#eso-as-a-service) with [AWS IRSA](https://external-secrets.io/provider-aws-secrets-manager/#eks-service-account-credentials)?

I don't believe so. However, it could be me misunderstanding something on my part.

We have ESO in its own namespace, with its own service account and IAM role to assume o

[2021-09-07 16:27] jbilliau-rcd commented on #366
@moolen  we are trying to replicate what I consider to be a perfect scenario for enterprises with the original kubernetes-external-secrets controller from GoDaddy. With that controller:

1. We deploy it to kube-system, having it auth to AWS using IRSA via `ServiceAccount` annotations.
2. We then allow **token-file-web-identity** (which is what it ends up using in Kubernetes) to use our application

[2021-09-07 16:46] moolen commented on #366
Hey @dfallert-rcd  and @jbilliau-rcd

Short answer: ESO itself should run with ZERO AWS permissions. And you create one service-account per namespace that is used in a `SecretStore`.
Long Answer: Usually we have one namespace per team (or application). This is our organisational, operational and security boundary. Every team (or app) has it's own area within secrets-manager and has only access to

[2021-09-07 18:32] jbilliau-rcd commented on #366
Thanks for the quick response @moolen . @dfallert-rcd  is testing this now, getting rid of the `jwt.serviceAccountRef` block. It appears that the ESO controller now tries to assume our pod-specific IAM role via a role with a random "guid" at the end of it, so we are working on configured the trust policy of the pod-speicific IAM role to allow **arn:aws:sts::99999999:assumed-role/fallert-dev-999999

[2021-09-07 21:37] dfallert-rcd commented on #366
Like @jbilliau-rcd stated above, ESO is appending a random string string of digits for the `RoleSessionName`.

After some investigation, I found that if a `RoleSessionName` is not provided, the `AssumeRoleProvider` will [use a unix timestamp](https://github.com/aws/aws-sdk-go/blob/c348111746d8e5953de52755d7c03d77708c522b/aws/credentials/stscreds/assume_role_provider.go#L308)

Following that lead,

[2021-09-08 07:15] moolen commented on #366
From my experience in the past the session name usually isn't relevant for a IAM trust policy (we've always used different roles instead of specifying the session principal). You can specify the [iam role](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#principal-roles) instead of the [specific assumed-role session principal](https://docs.aws.amazon.com/

[2021-09-08 14:09] dfallert-rcd commented on #366
In this case I care about the principal, as I only want the ESO's assumed role to have permission to assume the role specified in the `SecretStore`. I got it to work using a wildcard principal, and conditional on the `aws:SourceArn`  like so
[code]
But I'm not the biggest fan of that, and having a distinct `RoleSessionName` would be great.

Not only having a `RoleSessionsName`, but adding a field

[2021-09-08 14:41] moolen commented on #366
Agree, i support adding that!

To make it configurable i think we can easily add a field [here](https://github.com/external-secrets/external-secrets/blob/main/apis/externalsecrets/v1alpha1/secretstore_aws_types.go#L70-L73), add an option [here](https://github.com/external-secrets/external-secrets/blob/main/pkg/provider/aws/auth/auth.go#L110) and specify a RoleSessionName with options ([aws docs](h

[2021-09-08 14:54] mwilliams-rcd commented on #366
@moolen I can go ahead and open a PR for @dfallert-rcd request

[2021-09-08 19:50] moolen commented on #359
How would you like to consume the openapi schema? would you download an artifact from the release page? I'd say it's already there in the CRD definition.

Could you reuse the openapi spec from the [crd](https://github.com/external-secrets/external-secrets/blob/main/deploy/crds/external-secrets.io_externalsecrets.yaml#L33)? I don't know your tooling, but you could read the CRD and extract the opena

[2021-09-09 08:29] alekc opened #368 "Hcl vault checksum mismatch."
This is running the build on the Mac
[code]

[code]

Removing the entry from the local go.sum
[code]

The only way to fix it for me is
[code]

Not sure if it's the case of Hashicorp screwing their hashes or me running it on osx, I will try to have a look at this later on (Anyone knowing the answer feel free to drop a note)

[2021-09-09 15:17] mwilliams-rcd commented on #366
@moolen So digging into the issue a bit I don't believe any code change is needed (at least for what @dfallert-rcd was talking about above). The `RoleSessionName` that was causing an issue was in the base config that is generated by the AWS SDK.

This can be resolved by setting the `AWS_ROLE_SESSION_NAME` environment variable in the ESO container. For example with the Helm chart:
[code]

Setting i

[2021-09-09 16:24] jbilliau-rcd commented on #366
For anyone else that comes across this, the specifics of what the fix was we just passed in the **AWS_ROLE_SESSION_NAME** via the helm chart `env` block to be "token-file-web-identity", which matches what the GoDaddy kubernetes-secret controller used. Thus, migrating from that one to this one now seems trivial and painless. Score!

[2021-09-10 07:08] moolen commented on #366
It is potentially valuable IMO, PRs are definitely welcome. But there's no immediate need as far as i can tell. From my past experience i've never seen the role-session-name used in a policy.

Thanks for digging and documenting the issue here ❤️. Can we close this now, or are any things left to do?

[2021-09-10 09:26] hjorth opened #370 "dataFrom usages on tls/dockercreds"
**Describe the solution you'd like**
In version 0.2.0 it was possible to have Google Secret, constructed with data like this:

jq -Rn --rawfile certificate certificate.crt --rawfile key certificate.key '{"tls.crt": $certificate,"tls.key": $key}'

And a configuration like:

apiVersion: external-secrets.io/v1alpha1
kind: ExternalSecret
metadata:
  name: my-tls-certificate
spec:
  refreshInterval: 1h

[2021-09-10 09:59] hjorth commented on #370
This behaviour was introduced in 0.2.3.

[2021-09-10 12:35] mwilliams-rcd commented on #366
I don't believe there is anything left to do and this can be closed. I will PR my changes in anyway since they are already done. 😄

[2021-09-10 12:48] #366 closed

[2021-09-10 14:09] moolen commented on #370
I think this was fixed with 059c54bc536a5e96900131787bd45735d8d56517 / #363 which has not been release yet. Can you re-try with the latest image from `main` (see [pkg registry](https://github.com/external-secrets/external-secrets/pkgs/container/external-secrets)).

[2021-09-13 10:41] xxxbobrxxx commented on #359
Hi!
It would be great if you will publish such schema in swagger format like kubernetes already do that: https://github.com/kubernetes/kubernetes/tree/master/api/openapi-spec

[2021-09-14 06:39] tsawada opened #372 "GCP: Support Multiple Workload Identity"
It'd be great if it is easy to configure external-secrets to use separate workload identity per SecretStore (or per namespace) in multi-tenant situations.

For example, in my cluster setup, each namespace has its dedicated service account. I would like to configure ExternalSecret in each namespace to fetch secrets from Secret Manager using the service account associated with the namespace via Work

[2021-09-14 13:38] moolen commented on #372
Yes, please! This is missing in the GCP provider. relates to #261 and #251.

I suggest to integrate with GCP using service account tokens directly just like the folks at `csi-driver-provider-gcp` do here:

https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/blob/main/auth/auth.go#L116-L172

I think we shouldn't care about how the tokens are created and just consume them. C

[2021-09-14 13:57] chechuironman opened #373 "|im getting no matching operation was found on IBM"
any idea why im getting this?
apiVersion: external-secrets.io/v1alpha1
kind: ExternalSecret
metadata:
  creationTimestamp: "2021-09-14T13:24:16Z"
  generation: 5
  managedFields:
  - apiVersion: external-secrets.io/v1alpha1
    fieldsType: FieldsV1
    fieldsV1:
      f:spec:
        .: {}
        f:refreshInterval: {}
        f:secretStoreRef:
          .: {}
          f:kind: {}
          f:name

[2021-09-14 16:28] alekc commented on #221
@moolen the referenced ticket has been closed with a fix. Should this one be closed as well?

[2021-09-18 07:32] alekc commented on #344
Fixed by https://github.com/external-secrets/external-secrets/pull/349

@moolen can we close this off?

[2021-09-18 07:55] #344 closed

[2021-09-18 12:09] jeffa5 commented on #344
Thanks!

[2021-09-19 06:29] spirosoik commented on #361
I can get this

[2021-09-20 13:47] serdarkalayci commented on #168
Hello,
To enable code coverage data on SonarCloud, these steps must be taken:
On the SonarCloud:
Administration -> Analysis method
Disable the Automatic Analysis
![image](https://user-images.githubusercontent.com/14258482/134012761-536bea80-2132-4419-b87e-e29ab51e1f25.png)
Then by clicking Follow the tutorial under GitHub actions, the secret must be created on GitHub to give access to SonarCloud.

[2021-09-20 19:00] cooperbenson-qz opened #376 "Controller leaks Vault token leases"
**Describe the solution you'd like**
There are a few potential solutions (ordered by personal preference):
1. Cache the clients created for the SecretStores
2. Revoke the acquired token as a part of the `Close` method

**What is the added value?**
Right now, the controller creates a new Vault token on each reconcile call if they aren't using token auth (which is less secure than the other options)

[2021-09-21 11:25] impicklejon opened #390 "AccessDeniedException when using non default encryption key in AWS Secret Manager"
When trying to retrieve secrets encrypted with non default key:
[code]

Works with the same secret in the same account if encrypted with DefaultEncryptionKey

[code]

[2021-09-21 21:56] Andreabenf commented on #359
Since we already have the openapi spec drom the crd, we could only translate it into the swagger format, right?
That way we won't be needing the `// +k8s:openapi-gen=true` coments.

[2021-09-22 20:19] knelasevero opened #378 "Need to upgrade slash-command-dispatch, but figure out new args"
I just rolled this back but we need to upgrade and properly fix this.

[2021-09-22 20:25] knelasevero commented on #376
I am a bit short on time, but I can try to fix this one since it is critical, when I get a breather

If anyone reading this has a bit more time on their hands and wants to fix this, please let me know

[2021-09-22 20:28] knelasevero commented on #376
@cooperbenson-qz would you be available to open a PR for this one?

[2021-09-22 20:31] cooperbenson-qz commented on #376
I could try to implement the token revocation as a part of the `Close` method, the refactor to cache provider clients seems like a much heavier lift after reading deeper into the code 🤔

[2021-09-22 20:50] knelasevero commented on #376
Let's see how revoking goes. I can't see a problem with it for now. I might be missing something since I did not touch the vault provider at all

[2021-09-23 13:10] Andreabenf commented on #378
On it!

[2021-09-24 08:31] jack-evans opened #387 "enable retries in IBM Cloud secrets manager client"
**Describe the solution you'd like**
Describe the end goal of this proposal. What is this new functionality or the new behaviour (or what problem does it fix)?

I can continue to get secrets even when I am rate limited.

**What is the added value?**
Explain the value that it adds. e.g. "Secret refreshing will make internal secrets up to date with external secrets".

External secrets can continue t

[2021-09-24 09:19] #350 closed

[2021-09-25 09:29] jack-evans commented on #330
I think this would be useful too, or something where we cache secrets retrieved with a small TTL (5mins say) so that any secrets retrieved multiple times in a short period can be utilised without spamming the backing secretStore?

[2021-09-28 18:47] knelasevero opened #405 "Make Sonar step triggered by slash command"
On PRs that come from forks, we cannot have sonar running because it needs access to secrets. We can have a similar slash command for running sonar stuff on PRs

[2021-09-28 18:48] #378 closed

[2021-09-30 15:19] #405 closed

[2021-10-03 07:56] darkn3rd commented on #317
The requirement to pass a secret to access secrets is a non-starter.  AAD Pod Identity v1 + OPA would be a nice solution alternative for this, and also future v2 that supports a service account.

[2021-10-04 16:43] #270 closed

[2021-10-05 03:18] ADustyOldMuffin opened #410 "Allow passing of Cert to Vault Provider from K8s ConfigMaps or Secrets"
**Describe the solution you'd like**
When describing a `SecretStore` and using the Provider `Vault` you can specify a `caBundle`. This is not super useful as you have to provide a base64 encoded string inline. Allowing users to provide a ConfigMap or Secret containing the Cert would be better.

**What is the added value?**
Allows users to define certs in a single place, and allow them another opti

[2021-10-05 06:55] #376 closed

[2021-10-06 15:49] cnmcavoy opened #415 "SecretStore misconfiguration/errors are not available as events on the resource"
**Describe the solution you'd like**
It's possible to misconfigure a secret store in respect to a kubernetes cluster, e.g specifying a service account ref that does not exist, specifying a secret that does not exist, etc. When a secret store is misconfigured the errors that occur are not emitted as an event for the secret store resource.

**What is the added value?**
When users are debugging exter

[2021-10-06 16:09] Ed-vL opened #416 "SonarCloud CodeSmells"
**Describe the solution you'd like**
Opening an issue to track SonarCloud code smells to fix. I am gonna send a comment next in this issue to let everyone know what code smells I will be working on. Please do the same if you are planning to grab some :)

**What is the added value?**
Fixing some code smells will enhance the overall code quality and health

[2021-10-06 18:40] omateusp commented on #416
I'll work on these:

at `pkg/controllers/externalsecret/externalsecret_controller.go`:
- [ ] Refactor this method to reduce its Cognitive Complexity from 27 to the 15 allowed.

at `pkg/provider/aws/secretsmanager/secretsmanager_test.go`:
- [ ] Define a constant instead of duplicating this literal "[%d] unexpected error: %s, expected: '%s'" 3 times.

at `pkg/provider/aws/auth/auth_test.go`:
- [ ] D

[2021-10-07 10:40] MatteoJoliveau opened #419 "Invalid memory address using AWS and IRSA"
Hi folks!

I have an external-secret deployment version 0.3.6 running on an EKS cluster.

I have a `ClusterSecretStore` set to read from AWS Secrets Manager, configured as follows

[code]

When the operator pod starts, I am greeted with the following exception in the logs

[code]

The cause seems to live somewhere here: https://github.com/external-secrets/external-secrets/blob/main/pkg/provider/aw

[2021-10-07 16:23] knelasevero commented on #361
Hey @spirosoik ! Are you working on this?

[2021-10-07 16:32] knelasevero opened #423 "We should have an ADOPTERS.md file and let people add themselves to it"
We should that something similar to [this](https://github.com/linkerd/linkerd2/blob/main/ADOPTERS.md) file that LinkerD has for tracking adopters. It is cool for us to know how to reach out to users, and it is good for visibility :smile:

[2021-10-07 17:42] gusfcarvalho commented on #325
Hi Guys! I'm assigning myself to this issue. I'm already close to have something minimally functional. I'll let you know when we move this a little bit forward.

[2021-10-07 18:14] jack-evans commented on #330
@knelasevero i have the code in a branch but was waiting for @samof76 to test, happy to update my branch and put a PR in though if we think there won't be any side effects?

[2021-10-08 07:41] MatteoJoliveau commented on #419
Thank you for chiming in @knelasevero. We can close this issue if you like, as my problem is now solved. I'll follow #415 with interest, hopefully I might be able to help with it too.

[2021-10-08 08:34] knelasevero opened #426 "actions/github-script@v5 is failing with Cannot read property 'get' of undefined"
https://github.com/external-secrets/external-secrets/runs/3836092628?check_suite_focus=true

We need to fix that for /ok-to-test to report status back to the PR

[2021-10-09 07:29] sreejithsoman-mc opened #428 "azure key vault provider is not working with azure china"
### Discussed in https://github.com/external-secrets/external-secrets/discussions/418

<div type='discussions-op-text'>

<sup>Originally posted by **sreejithsoman-mc** October  7, 2021</sup>
Hi ,

I was trying the setup external secret for azure provider. I am using **azure china.**

In SecretStore , I have provided the vaultUrl to my vault in azure china.

But when i configure my external-secret

[2021-10-09 09:24] jack-evans commented on #331
Apologies @knelasevero - haven't had much time to work on this, I did start having a look into it but one of the things that did concern me was that the secretRefApiKey property in the CRD would have to become optional... so you would end up with 2 optional fields and we would have to write some logic to say "but you have to at least define one of them". Any thoughts in this area?

[2021-10-11 09:54] carlosbustillordguez opened #431 "Unable to get all parameters under a path from AWS SSM Parameter Store"
I am using the following manifest for the ExternalSecret to get all parameters(`testing/t1` and `/testing/t2`) under `/testing/`:

[code]

From the ESO pod logs I can see:

[code]

I suspect the error is related to how the parameter path is parsed, the faced error is a generic error when the parameter name doesn't have the expected format.

Is there a way to fetch all parameters under a path? I am

[2021-10-15 19:05] gusfcarvalho opened #433 "AzureKV Backend not working with ClusterSecretStore Configuration"
**Describe the solution you'd like**
When configuring a cluster secret store to use an azure backend provider, we get the following error from ESO:

[code]

It seems that the cause is a parsing failure from the configured namespace information.

**Observations (Constraints, Context, etc):**
eso version: 0.3.6
manifest files applied:
ExternalSecret:
[code]

  ClusterStore:
[code]

[2021-10-20 21:43] #410 closed

[2021-10-20 21:57] #156 closed

[2021-10-20 22:22] ArthurPaivaT opened #439 "Add make lint call to make reviewable script"
**Describe the solution you'd like**
Make reviewable should tell if code lint is acceptable for review

Currently make reviewable says it is ok even if there are some lint issues.

[2021-10-21 00:03] Flydiverny commented on #325
I think 2) makes sense for migration.
Slightly related https://github.com/external-secrets/kubernetes-external-secrets/issues/604 (~create secrets without ownership), if that were to be implemented in KES it could possibly be used in a migration guide

[2021-10-22 01:02] ADustyOldMuffin opened #443 "Feature: Integration with Fleet/Rancher for multicluster secrets"
**Describe the solution you'd like**
We manage multiple clusters using Rancher, and we also use External Secrets for our secrets. We have a need to be able to push secrets to multiple clusters from a single location, and would like to explore if External Secrets would be interested in adding an integration to facilitate this.

**What is the added value?**
Eases the difficulty of having to add secr

[2021-10-22 11:43] gusfcarvalho opened #444 "Feature: Log ExternalSecret status update"
**Describe the solution you'd like**
Everytime we have a ExternalSecretStatus update, to log it with a message: "externalSecret status updated to <type>". In order to avoid log floods, maybe we can have this set up as an optional flag, or only print the first change, so troubleshooting logs reflects the current state of the configuration (and not only the last error).

**What is the added value?**

[2021-10-23 13:49] knelasevero opened #446 "Change PAUL bot greeting message to include instructions on make reviewable, make fmt and make check-diff"

[2021-10-23 13:58] #439 closed, assigned to ArthurPaivaT

[2021-10-23 14:01] knelasevero opened #447 "Sanitize our Makefile"
Our Makefile is a bit out of date.

make help does not include all commands. Some commands are printing incorrect helping messages. We should review the whole Makefile make it a bit better.

(I will add a checklist here when I have some time)

[2021-10-27 11:18] #447 closed, assigned to Ileriayo

[2021-10-27 12:01] knelasevero opened #452 "E2e tests, even if we set the FOCUS env var, require to have creds set for all providers"
As the title says. To be able to run a single provider e2e tests, without setting all the creds, you need to comment the other ones at https://github.com/external-secrets/external-secrets/blob/main/e2e/suite/import.go.

[2021-10-27 12:15] gusfcarvalho opened #453 "Update Golang CI Lint and Fix make lint.install"
Go CI lint install is not supported anymore.
We need to update it, and take the opportunity to update the lint  version.

[2021-10-27 12:42] #446 closed, assigned to Ileriayo

[2021-10-27 12:48] #419 closed, assigned to gusfcarvalho

[2021-10-27 13:26] gusfcarvalho opened #455 "E2E test for AWS-SSM - Secret Authentication + config Roles"
Add e2e tests for AWS-SSM that focus on Secret Authentication and assuming roles.

Issue split from #209

[2021-10-27 13:27] gusfcarvalho opened #456 "E2E test for AWS-SSM - Different Regions"
Add e2e tests for AWS-SSM that focus on pulling secrets from different regions.

Issue split from #209

[2021-10-27 17:38] knelasevero opened #457 "Prepare new e2e test workflow for cloud specific managed solutions auth methods"
- [ ] New dir with IaC setting up infra
- [ ] New gh-actions workflow dedicated to this specific setup and tests
- [ ] Setup cost monitoring on the accounts
- [ ] Setup infracots to check cost changes in terraform changes

[2021-10-27 18:03] knelasevero opened #458 "e2e test docs need to be included"
e2e tests are still a bit obscure to new contributors and even to new maintainers

[2021-10-28 14:14] reakaleek opened #462 "Ability to set log level"
**Describe the solution you'd like**
The ability to set the log level in the values file for the helm chart.

**What is the added value?**
Info logs are quite chatty and in my case, log level error would be enough.

[2021-10-29 13:19] vkruoso opened #464 "rewrite template.data keys"
**Describe the solution you'd like**
When templating from multiple sources (`data` and `dataFrom` config), be able to render in the template all values from the `dataFrom` secret with the values from the `data` secret.

**What is the added value?**
This allow for a less verbose ExternalSecret object and more flexible, as adding / removing keys from the `dataFrom` secret source will be reflected in

[2021-10-29 16:16] knelasevero opened #465 "CI step that spits out normal kubernetes templates for us"
Also useful for #244

[2021-10-31 19:56] knelasevero commented on #415
This comment that I sent previously should be a new issue, let me have a look if we have one already

[2021-10-31 19:59] knelasevero opened #467 "Implement SecretStore controller"
We have an empty reconciliation loop for SecretStore at the moment. Would be nice if we make the reconciliation loop recurrently check the external store and then report back to status conditions of this store to improve visibility of problems.

[2021-10-31 20:01] knelasevero commented on #467
Caching mechanism mentioned in #330 is also relevant here

[2021-11-01 19:45] #452 closed

[2021-11-02 23:05] #453 closed

[2021-11-02 23:34] #444 closed

[2021-11-04 17:12] #465 closed

[2021-11-05 13:16] netic-jsj opened #471 "Deleted external-secrets still showing metrics with status ready"
Im trying to setup monitoring of external secrets. I can se that in issue #231, the metrics has added the stage 'Deleted'.
Deleting a externalsecret creates a new metric with condition Deleted but the old metric with condition Ready is still there. Is this as Intended?

This is testet with version 0.3.5 and 0.3.7.

Initial metrics
[code]

Created 3 externalsecrets
[code]

Deleted 3 externalsecrets

[2021-11-06 22:41] snarlysodboxer opened #473 "Tests fail when race detector enabled"
### Environment

OS: Mac OS

Go Version: `go1.17.2 darwin/amd64`

## What happened?
`make test` causes one failed test.
The output is huge, but this seems to be the main part: (let me know if you want me to post the rest)
[code]
However if I run `go test -v $(go list ./... | grep -v e2e)` (without the `-race` flag) then all the tests pass.

## What did you expect to happen?
All the tests to pass w

[2021-11-08 10:05] hjorth commented on #471
I was about to do exactly the same after upgrading from 0.2.2 to 3.5.7.

Just to add to this, it looks, like if you delete a secret and recreate it - it will also still be visible as deleted.

[2021-11-08 20:29] ghost opened #476 "Add Keeper as a supported Backend"
**Describe the solution you'd like**
Keeper is a pretty popular secret manager that might be a good candidate to add as a supported backend.

**What is the added value?**
Any organization who uses Keeper would be able to retain it as the single source of truth for secrets and not need to use another backend.

**Give us examples of the outcome**

Provide templates if you are proposing changes in th

[2021-11-09 02:41] mcavoyk commented on #390
@impicklejon Can you provide more details about the IAM policy for the SecretStore and the key policy for the specific KMS key?

[2021-11-09 02:46] reakaleek commented on #462
Hi, thank you for pointing this out. Do you have a documentation reference on which arg I need to set?

[2021-11-09 08:49] renanaAkeyless opened #477 "Akeyless provider"
Add Akeyless provider
support fetching secrets from Akeyless provider

Please look at my PR:
https://github.com/external-secrets/external-secrets/pull/475

[2021-11-09 16:06] bitsofinfo opened #478 "Clarity: secrets store CSI driver vs external secrets... what to use?"
Hi - thanks for this project. Currently looking for the best way to seed/bridge vault/azure-kv stored secrets and provision/access them from k8s. I came across the Secrets Store CSI project yesterday and today came across this project.

What are the main differences? is the CSI (or this project) becoming more part of an official standard? Just trying to determine which route to go.

https://github

[2021-11-09 18:19] knelasevero commented on #478
The main differences:
- ESO synchronizes secrets from a cloud provider to secrets in k8s, so you can keep using k8s secrets if you are used to that.
- SSCSID mounts the external secret as a volume in a pod directly, and having a secret in the cluster is optional
- ESO focuses on having configuration on the CRD, what you create on the secret store in the provider is only the secret value itself
- S

[2021-11-09 18:20] knelasevero commented on #477
Will have a look soon! Thanks!

[2021-11-09 18:32] #431 closed

[2021-11-10 15:53] knelasevero commented on #426
Reopening this, The PR did not fix it

[2021-11-10 17:03] joaopaulosr95 commented on #462
@reakaleek you should take a look here
https://github.com/external-secrets/external-secrets/blob/main/main.go#L55

and here
https://github.com/external-secrets/external-secrets/blob/main/deploy/charts/external-secrets/values.yaml#L41

Just set `logLevel: "error"` and you should be fine

[2021-11-10 17:18] knelasevero commented on #478
Closing the issue. Feel free to comment or ask us to re-open :)

[2021-11-10 17:18] #478 closed

[2021-11-10 20:18] reakaleek commented on #462
Thank you very much!

[2021-11-11 10:19] sikachu commented on #390
I ran into this issue as well and was finally able to fix this by adding a policy to allow `kms:Decrypt` on the key that was used to encrypt the secret. (Originally, I only have `secretsmanager:GetSecretValue` on the secret).

You can confirm the key on AWS console (or probably via the command line as well?)

![image](https://user-images.githubusercontent.com/4912/141280870-c1024cbd-b0a9-4459-ab2f

[2021-11-11 14:20] errm commented on #390
Also that doc seems to suggest creating a policy with `secretsmanager:GetResourcePolicy` `secretsmanager:GetSecretValue` and  `secretsmanager:DescribeSecret` `secretsmanager:ListSecretVersionIds`

looking at the implementation here https://github.com/external-secrets/external-secrets/blob/main/pkg/provider/aws/secretsmanager/secretsmanager.go#L65 I think we only need `secretsmanager:GetSecretValue

[2021-11-11 16:02] patpicos opened #485 "Helm chart & Prometheus Endpoint mismatch"
**Describe the solution you'd like**
Describe the end goal of this proposal. What is this new functionality or the new behaviour (or what problem does it fix)?
The metrics endpoint starts on port [8080 by default](https://github.com/external-secrets/external-secrets/blob/280964f84ea5584c4d336f8e02f8447592f7a337/main.go#L50) and is not overridden by the Helm chart.

The Helm chart defaults to `3001

[2021-11-15 17:26] DaniJG commented on #347
+1 on this feature! I was looking for a way to sync certificates managed by cert-manager back into an azure key vault, this feature would solve that use case quite nicely

[2021-11-16 15:59] #426 closed

[2021-11-17 13:47] alrosx opened #492 "Azure k/v certificates doesn't extract pemPrivateKey"
Having an issue with azure certificates.
I've pushed cert.pem (which includes cert and private key) into azure k/v type: certificates.
External-secrets only retrieves the public cert, and adds that to secret
I'm stuck with "tls.key" External-secrets adds "-----BEGIN PRIVATE KEY-----" and then dumps the public cert so both tls.crt and tls.key are identical apart from the cert header/footer.
[code]

[2021-11-18 14:43] #462 closed

[2021-11-18 16:16] slopezz opened #493 "Question: Install ESO via OLM (Operator Lifecycle Manager)?"
**Describe the solution you'd like**

It would be awesome if ESO could be integrated into [OLM](https://olm.operatorframework.io/), which is a marketplace for k8s operators, so for example ESO would be available at [OperatorHub.io](https://operatorhub.io/) (by submitting the operator on both [k8s](https://github.com/k8s-operatorhub/community-operators) and [OpenShift](https://github.com/redhat-ope

[2021-11-18 20:29] mmontes11 opened #495 "Vault secret mapping error when a field is missing"
First of all, thanks for this outstanding project. I think it covers a need in the Kubernetes ecosystem and I hope it becomes the standard way of handling secrets.

**Describe the solution you'd like**
One of my Vault secrets has the following format:
[code]
When the Vault secret tries to parse it, returns the following error (**"secret data not in expected format"**):
[code]
I would expect `exter

[2021-11-21 14:03] #495 closed

[2021-11-21 14:08] knelasevero commented on #493
@sevikarakose  @onselakin

[2021-11-22 17:07] #477 closed

[2021-11-22 17:54] artem-nefedov opened #497 "Retention/deletion/prune policy"
**Describe the solution you'd like**

Would be great to have the ability to control what happens to Secret object when ExternalSecret is deleted (either with new value for "creationPolicy", or a new field such as "deletionPolicy", "retentionPolicy", "prune", etc.).

**What is the added value?**

Currently it's only possible to retain Secret when using `creationPolicy: Merge`, which implies you nee

[2021-11-23 08:47] knelasevero opened #498 "Fetch all secrets from a given external store and map them to a Kind=Secret [azure]"
Right now we have a getSecretMap that expects a single secret in the external provider to be a JSON string and then we grab the keys and make them multiple keys in a Kind=Secret in kubernetes.

Now we want a feature that allows for us to get all the secrets in an external provider and make them sink as keys in a Kind=Secret in Kubernetes.

This would have to change the interface signature to inclu

[2021-11-24 19:33] jsarkar commented on #330
@samof76 did you able to test concurrent reconciles?
@jack-evans I am volunteering test this with Hashi vault backend. Will keep you posted

[2021-11-26 07:27] HexF opened #501 "Oracle Vault panics whenever ExternalSecrets are added"
Hi,

Sorry if I skipped over the issue format - it looks more like a feature request then a bug report one.

Anyways, I've been trying to setup the Oracle Vault provider for 2 hours now and keep causing the pod to panic.

Ive tried the following on both v0.3.8 and v0.3.6, getting the same `panic: reflect: call of reflect.Value.IsNil on struct Value` error no-matter what I try.

Steps to replicate:

[2021-11-26 07:44] moolen commented on #501
Hey @HexF i redacted the private key above, was not sure if this was accidental or not. This looks like a bug in the oracle provider.

[2021-11-26 12:16] ahmedmus219 commented on #498
Hi
I started with this [commit ](https://github.com/ahmedmus-1A/external-secrets/commit/257f6e8ea52c29f8f3f57e84d6ec91dce7cd3ca7), unfortunately I needed to add the new method into the provider interface , and accordingly all the providers needed to be touched.

[2021-11-26 12:59] #501 closed

[2021-11-26 13:29] HexF commented on #501
was I not careful enough to remove like 5 lines from it?

Also, thanks for the fix

[2021-11-26 13:35] moolen commented on #501
Oh, i didn't see `<snip many lines>` :joy:

[2021-11-26 16:23] slopezz commented on #493
As we needed to install the current **external-secrets** helm-chart operator via OLM, we have created a kind of new *meta* operator using [operator-sdk](https://sdk.operatorframework.io/docs/building-operators/helm/tutorial/#use-an-existing-chart), that is in charge of deploying current helm chart.

We have published it at https://github.com/3scale-ops/external-secrets-operator

Although the solut

[2021-11-26 16:30] bahaeddine opened #503 "Not able to render secret of type: kubernetes.io/dockerconfigjson"
**Problem**
I try to read secret from vault that contains a google secret account key (json)

I use the following template:

[code]
When I applied to create the external secrets, I got this error:

[code]

I need to create the `artifact-registry` secret: https://cloud.google.com/artifact-registry/docs/access-control#pullsecrets using external secret operator.

Please note that currently only the s

[2021-11-27 04:39] HexF opened #504 "Oracle Cloud secrets return the name of the secret rather than the body"
Hey,

This follows on from my troubles in #501, but now I have it grabbing secrets and loading them in - without crashing.

My setup is largely the same as in #501 on the Kubernetes configuration side.
On the oracle cloud side, I have a vault containing a single secret named `production`, which contains a JSON object full of secret keys.

Now, when I dont provide a `property` on the remoteRef I ge

[2021-11-29 07:30] dklbe commented on #471
Having also issues with the ExternalSecrets custom resource after deletion/re-creation not showing the right status. I'd really appreciate a fix for that.

[2021-11-29 09:46] knelasevero commented on #498
@moolen this is very different from what you proposed, what do you think?

[2021-11-29 13:02] knelasevero commented on #504
You are right! Also, unit tests are wrongly looking at SecretName as if it was value...

We really missed this while reviewing...

Quickly looking at the code `Secret The details of the secret. Secret details do not contain the contents of the secret itself.` I don't know how to easily actually get the secret value with this client. WHoever gets this issue would need to figure that out :sweat_smil

[2021-11-29 16:45] xadereq opened #508 "Claim "iss" is invalid"
**Describe the solution you'd like**
Kubernetes native authentication should work properly without flag `disable_iss_validation=true` in config.

**What is the added value?**
Up to date working configuration.

**Observations (Constraints, Context, etc):**

After creating auth config to Vault, which contains valid configuration (including issuer), controller can not fetch secret from Vault.

Config

[2021-11-29 17:42] knelasevero commented on #503
Hey! THanks for your interest in the project.

What happens if you try this:

[code]

[2021-11-29 17:46] knelasevero commented on #508
@gusfcarvalho was this what you mentioned last week?

paging @ricardoptcosta @mcavoyk @cnmcavoy

[2021-11-29 18:29] ADustyOldMuffin opened #509 "Namespace for Vault Secret Store caProvider namespace is not being honored"
**Describe the solution you'd like**
When specifying the namespace for a caProvider secret it should be able to look into that namespace to find the secret.

**What is the added value?**
Allow putting of the CA Provider secret/config map in any namespace.

**Give us examples of the outcome**

[code]

This is what it looks like today, which is fine.

**Observations (Constraints, Context, etc):**

W

[2021-11-29 18:39] ADustyOldMuffin commented on #509
I believe this is the offending code
https://github.com/external-secrets/external-secrets/blob/c27c5462cb73658d87979fc1d3d70ff0f770681d/pkg/provider/vault/vault.go#L284-L297

which is the same as
https://github.com/external-secrets/external-secrets/blob/c27c5462cb73658d87979fc1d3d70ff0f770681d/pkg/provider/vault/vault.go#L354-L365

I will also point out with the above code it seems the methods are

[2021-11-29 19:21] moolen commented on #508
Hey @xadereq, the issue lies in the `Vault <-> Kubernetes` integration. I think you need to make sure that vault is able to validate the issuer, see the following issue for hints: https://github.com/external-secrets/kubernetes-external-secrets/issues/721#issuecomment-924896198. Depending on how you set up vault (in-/outside cluster) the one or the other fix will apply.

[2021-11-29 20:08] gusfcarvalho commented on #508
You can set the issuer with a command line adding issuer=<your-kubernetes-issuer>. For minikube the issuer is kubernetes.default.svc.cluster.local

This issue is not related to external-secrets, but really on which k8s/vault version you are using.

please keep in mind that issuer verification will be deprecated by hashicorp vault in the near future.

[2021-11-29 20:12] moolen commented on #509
Hey @ADustyOldMuffin i can give you a little bit of context: The issue lies in `v.secretKeyRef()` [here](https://github.com/external-secrets/external-secrets/blob/main/pkg/provider/vault/vault.go#L473). The idea is to enforce the same namespace if a `SecretStore` is used. If one uses a `ClusterSecretStore` then it will fetch the secret from the defined namespace (that _should_ work).
That's concep

[2021-11-29 20:20] xadereq commented on #508
Thank you for your time investigating :)

Unfortunately, I've got vault injector (https://www.vaultproject.io/docs/platform/k8s/injector) set up on the same auth config and it's working flawlessly.
Are you pretty sure it's my fault?

My vault instances are outside cluster and integration is configured pretty much like here https://learn.hashicorp.com/tutorials/vault/kubernetes-external-vault#confi

[2021-11-29 20:37] ADustyOldMuffin commented on #509
In this case I'm not sure #134 applies as the purpose here in our use case is that we have a cert that we use for connections to Vault and so we'd need this in every namespace.

I had a suspicion it had something to do with permissions/security, and the work around we're thinking about it having this be something that we apply across all namespaces. For #134 the issue is that we'd need the SecretP

[2021-11-29 21:13] moolen commented on #509
+1 for documentation and annotations to the structs! This permission/security boundary is implemented across all providers.

[2021-11-29 22:20] jtut1731 opened #510 "AWS SecretsManager JSON number value results in "unable to unmarshal secret""
**Describe the solution you'd like**
If a secret contains a JSON number value, this value should be converted to a string value.

**What is the added value?**
AWS SecretsManager includes the ability to automatically rotate RDS credentials. The credentials secret that it creates include "port", and the value is a number in JSON.

AWS SecretManager Secret (JSON):
[code]

should produce Secret data:

[2021-11-30 07:44] moolen commented on #510
Right, this is a bug! The `map[string]string` [here](https://github.com/external-secrets/external-secrets/blob/main/pkg/provider/aws/secretsmanager/secretsmanager.go#L114) really should be a `map[string]interface{}` and then we have to do a type assertion and return the value as `[]byte`

[2021-11-30 08:41] bahaeddine commented on #503
Thanks @knelasevero  for you response.

I tried it and I got the below error:

`message: 'Secret "artifact-registry" is invalid: [type: Invalid value: "kubernetes.io/dockerconfigjson":
      field is immutable, data[.dockerconfigjson]: Invalid value: "<secret contents
      redacted>": invalid character ''\'''' looking for beginning of value]'`

I deleted the '' in `template.data..dockerconfigjson

[2021-11-30 08:47] xadereq commented on #508
Sure, I did it already (when configuring vault injector).

[code]

and configuration in vault auth:

[code]
(disable_iss_validation is enabled now, and it's working)

[2021-11-30 08:55] knelasevero commented on #503
Any chance you can remove the break lines from the SA key in your vault?

[2021-11-30 09:14] knelasevero commented on #510
I think we have this in some other providers as well

[2021-11-30 09:35] bahaeddine commented on #503
If I try to synchronize a secret using ESO that only contains the value of the service account key, it works fine and no issues are encountered. I tried before the`"{{ .artifactregistrysa | toString }}"` and it's working fine.

 I think for my case , what I can modify is the whole `('{"auths":{"https://LOCATION-docker.pkg.d... )` that coming from vault instead of service account key.

[2021-11-30 10:56] moolen commented on #508
Ok great, that looks fine. Then, what's the content of the service account that you use to authenticate? Can you dump it into [jwt.io](https://jwt.io/) and paste its contents (`iss`, `sub`, `kubernetes.io/serviceaccount/*`)? How does that look like? Can you do the same for the token located at `/var/run/secrets/kubernetes.io/serviceaccount/token` in the external-secrets pod?

[2021-11-30 11:01] gusfcarvalho commented on #508
hi @xadereq ! Can you please share (with all redactions needed) your `SecretStore` configuration?

I've tried to do a mock cluster configuration using vault, and I was able to properly configure it (no errors, no disable jwt verification). Can you try that in a separate environment as well (not saying it isn't a bug, it's just to help out what the cause might be)?

[code]

The information @moolen

[2021-11-30 11:34] xadereq commented on #508
I'm really sorry for bothering all of you, I hope it won't be problem with my misconfiguration. Anyway maybe someone will find this conversation helpful :P

ClusterSecretStore configuration
[code]

Role:
[code]

Output of @gusfcarvalho command (from the very end of comment):

[code]

JWT token from inside external-secrets

[code]

and from inside vault-agent-injector pod:
[code]

Again, kindly tha

[2021-11-30 13:08] runningman84 opened #511 "Document templateFrom using a secret"
**Describe the solution you'd like**
Describe the end goal of this proposal. What is this new functionality or the new behaviour (or what problem does it fix)?
The docs describe who to use a templating engine to create a configmap. I would like to see an example to create a secret.

**What is the added value?**
Users would know how to create a templated secret.

**Give us examples of the outcome**

[2021-11-30 16:26] moolen commented on #508
It looks like service accounts always get the `iss=kubernetes/serviceaccount` value. This seems to be the intended behavior in kube-controller-manager (see [here](https://github.com/kubernetes/kubernetes/blob/1d8966f4f92429fc1c1073d121dca1cc3f53974a/cmd/kube-controller-manager/app/controllermanager.go#L644): `LegacyIssuer` ).

ESO simply uses the jwt present in the referenced secret of the sa. We

[2021-12-01 07:45] moolen commented on #493
Awesome @slopezz! We've wanted to support OLM for a while (#244). Your helm-based implementation looks very promising - i particularly like the ability to customize the installation with the embedded `values.yaml` file.

We want to provide and maintain a package of our operator in both the [community-operators](https://github.com/k8s-operatorhub/community-operators) and [openshift](https://github.

[2021-12-01 11:20] slopezz commented on #493
Sure @moolen, we are happy to transfer the repo to `external-secrets` org, so you could maintain both helm and OLM artifacts together (for the moment we are using our own OLM catalog managed with the repo with images on `quay.io`, so we can install it with OLM until you publish it on OperatorHub).

As I mentioned on my previous comment, the current implemented solution is not perfect, because the

[2021-12-01 22:12] moolen commented on #508
@xadereq after reading this here https://github.com/hashicorp/vault-plugin-auth-kubernetes/pull/127 i think we don't need to fix this. This seems to be a design flaw in vault and is fixed with future vault versions.

Change the default value for `disable_iss_validation` to be true, and deprecate the `disable_iss_validation` and issuer configuration fields.

It's fine to disable issuer validation.

[2021-12-01 22:12] #508 closed

[2021-12-02 16:01] knelasevero opened #513 "Restrictive path in SecretStore for Vault"
### Discussed in https://github.com/external-secrets/external-secrets/discussions/512

<div type='discussions-op-text'>

<sup>Originally posted by **lhw** December  1, 2021</sup>
Currently the SecretStore for the Vault provider is limited to a single mountpoint in a Vault instance due to the required path argument. I wanted to ask if this was intentionally done to enforce the use of different Secr

[2021-12-03 08:45] alexdyas commented on #504
Confirmed, I get the same result as @HexF. I'm keen to have a working version of this, ping me if I can help with testing etc.

[2021-12-03 09:41] moolen commented on #504
I was a little confused when looking at the OCI Vault API. It seems like we need to use the `secrets` package to actually retrieve the secrets. related: https://github.com/oracle/oci-go-sdk/issues/324

[2021-12-03 11:23] moolen commented on #504
I can not test the integration as i don't have an oci account. If someone has some time to finish my draft below or can share credentials please let met know. The fix should be pretty straight forward: https://gist.github.com/moolen/4014679b94310c5c8955a6dde5a73945

[2021-12-03 11:28] knelasevero commented on #504
I have some people in CS wanting to contribute and I wanted to use this one in our next mob session to walk them into making the contrib :) we can create another trial account on our side

[2021-12-03 13:19] moolen commented on #504
Awesome! Sure, then go ahead and fix it in the mob programming session :heart:

[2021-12-03 13:20] alexdyas commented on #504
I'm willing to give it a quick test, although I'm struggling with applying the patch. I've tried various git commands, `git apply oracle.patch`, `git am oracle.patch`, but I'm getting errors. What is the correct command line please?

[2021-12-03 13:22] moolen commented on #504
That's just a sketch, it probably won't work: it's untested :sweat_smile:

[2021-12-03 13:23] alexdyas commented on #504
I don't want to trample on your mob session however, this is just for my curiosity.

[2021-12-07 14:34] knelasevero commented on #513
@lhw do you wanna take care of this one?

[2021-12-07 14:37] lhw commented on #513
I was planning to as soon as I get a hang of the test system to verify that I don't break anything. Was just down for a few days but I hope I get back on track the next few days.

[2021-12-09 11:52] smsilva opened #520 "Error while try to create a SecretStore using Azure Key Vault with Managed Identity"
**Describe the solution you'd like**

I'd like to complete the `SecretStore` configuration using **Azure Managed Identity** as described [here](https://external-secrets.io/provider-azure-key-vault/#managed-identity-authentication) in the docs.

**Give us examples of the outcome**

After  installed the **ExternalSecrets** using Helm method, I have tryed to create a `SecretStore` following the docs

[2021-12-09 11:58] smsilva commented on #520
I can see that the fields already exists into the Repo [here](https://raw.githubusercontent.com/external-secrets/external-secrets/main/deploy/crds/external-secrets.io_secretstores.yaml).

Maybe the Helm chart needs to be updated.

[2021-12-09 12:05] smsilva commented on #520
After apply the CRD, the object was created successfully.

I'll test the behavior and I'll back here to comment.

[2021-12-09 12:08] knelasevero commented on #520
We need to improve the release of the docs. We merged the managed identity for azure key vault, but we did not cut a release with it yet.

The thing is that when we merge new documentation it updates the website right away...

[2021-12-09 16:50] smsilva commented on #520
Thanks for your quick reply @knelasevero!

I think this issue can be closed and let's wait until the new release.

I'll leave here the error message using v0.3.9 and the new CRDs but I understand that should works in the next release:

[code]

[2021-12-09 16:50] #520 closed

[2021-12-10 16:31] gdlx opened #521 ""Skipping unmanaged store" when trying ESO on EKS + Secrets Manager"
Hello !
I'm trying to apply the EKS setup for SecretsManager with ESO `0.3.9` as explained here: https://external-secrets.io/provider-aws-secrets-manager/#eks-service-account-credentials

But I'm getting the following error in the ESO deployment log:

[code]

Here is my `ServiceAccount`

[code]

The `SecretStore`:
[code]

The `ExternalSecret`:
[code]

I'm wondering if the `auth.jwt.serviceAccountR

[2021-12-10 16:47] gdlx commented on #521
Actually, removing `controller: external-secrets` from the secret store spec fixed this issue.

[2021-12-10 16:47] #521 closed

[2021-12-10 20:09] CayoM opened #522 "Add other k8s secret types to the docs"
**Describe the solution you'd like**
I would like to create Kubernetes Secrets type: kubernetes.io/basic-auth from the External-Secret.

**What is the added value?**
Secret refreshing will make internal secrets up to date with external secrets

**Give us examples of the outcome**
While trying to Sync the Secret in order to create a new Secret, data could not be fetched from IBM Secrets-Manager.

[

[2021-12-10 22:37] CayoM commented on #522
just found out i was missing "property: username".

Now im struggling on how to build a Basic-Auth secret around this using the username AND password.

[2021-12-10 22:49] CayoM commented on #522
figured it out and leaving it here in case someone come across the same struggle:

[code]

[2021-12-10 23:51] databasedav commented on #520
when is the next release? i followed the docs thinking i could finally ditch raw service principles and then found myself here, is there anyway to get the operator to use the code on main in the mean time?

[2021-12-11 16:03] knelasevero commented on #522
Reopening it so we leave an issue up for people to add other k8s secret types to this doc :)

https://external-secrets.io/guides-common-k8s-secret-types/

[2021-12-11 20:13] tommyreilly opened #523 "scopedNamespace: Is this limited to a single namespace or a comma delimited list?"
**Describe the solution you'd like**
Describe the end goal of this proposal. What is this new functionality or the new behaviour (or what problem does it fix)?

Our company are looking to use External Secrets in a GKE cluster that would be used by many of our product teams. Essentially, we will be hosting an External Secrets instance per product team in the GKE cluster, where each instance will us

[2021-12-12 09:15] moolen commented on #520
I'll cut a release next week.
You can use the `:main` tag of the image. Use at own risk ^.^

See container images here:
https://github.com/external-secrets/external-secrets/pkgs/container/external-secrets

[2021-12-12 20:31] databasedav commented on #520
@moolen in addition to setting `image.tag: main` in my helmfile, i also needed to do a `make crds.uninstall && make crds.install` from a local clone of this repo, thanks

[2021-12-13 11:09] knelasevero commented on #523
Hey folks, thanks for your interest in the project!

I think you are confusing how to configure the project. Most of the "final" functionality of the project will be configured by creating the Custom Resources in the cluster, and not the configs of the helm chart.

In KES you only had one CRD, named ExternalSecret (externalsecrets.kubernetes-client.io), in ESO we have ExternalSecret (externalsecre

[2021-12-13 12:30] gusfcarvalho commented on #523
I think it is worth to point some differences between KES and ESO:

KES can only have one ''provider account'' attached to a controller, during deploy time. So, in order to have multiple workload identity configuration, multiple KES deployments are needed.

ESO can have "multiple accounts" attached to the same controller, at runtime. This is done through configuration of a secretStore to use diffe

[2021-12-13 15:04] nickpetrovic opened #526 "Fetch and store plaintext from AWS Secrets Manager without attempting to parse it"
**Describe the solution you'd like**
The ability to fetch and store plaintext from AWS Secrets Manager without attempting to parse it into JSON or anything else.

**What is the added value?**
We may have different formats for our secrets. My use case is using a simple dot env file format.

**Give us examples of the outcome**
I was thinking the `dataFrom` attribute would take the entire content of

[2021-12-13 15:25] knelasevero commented on #526
You don't need to use the templating functionality. Also no need to use the dataFrom functionality. You can use the data field.
[code]

[2021-12-13 15:28] knelasevero commented on #526
Closing this one, feel free to reopen if you still find issues with it :)

[2021-12-13 15:28] #526 closed

[2021-12-13 18:11] tommyreilly commented on #523
Thank you @knelasevero @racdev @gusfcarvalho

I get the general gist of the advice but still a little confused.

I'm good with using a SecretStore per namespace and would not want to go with the ClusterSecretStore due to the RBAC considerations you refer to - defining admissions controller policy on the k8s with Kyverno or something similar is not something we have in scope to implement (yet), so

[2021-12-13 18:47] knelasevero commented on #523
You make a lot of sense.

I guess you want to +1 this issue request ;)
https://github.com/external-secrets/external-secrets/issues/372

Would love to get contributions there as well!

[2021-12-13 19:15] tommyreilly commented on #523
@knelasevero - yes definitely a +1 from me.

My go skills are a bit scratchy, as otherwise I'd have a stab at this myself. If someone else has the inclination to look at this, that would be ideal.

[2021-12-13 19:16] tommyreilly commented on #372
+1

[2021-12-13 19:55] gusfcarvalho commented on #523
@tommyreilly  I think a workaround for now can be 'a little bit of both'. I think you could set ESO controller labels per team / workload identity and create namespaced secretstores pointing to those controller labels. You'd still need 1 ESO controller per team, but you wouldn't have to face RBAC issues anymore (because the secretstore now exists only in a specific namespace).

but yeah, ideally i

[2021-12-13 20:41] racdev commented on #523
So my use case is that we only use HashiCorp Vault and I have a "platform team" that manages services in namespaces a, b and c, each with a service account a, b and c in each namespace respectively. Each SA is bound to a role in Vault with relevant policies to access the secrets needed for the services running in the respective namespace.

I therefore deploy the ESO controller in namespace es runn

[2021-12-13 20:54] moolen commented on #523
The controller reconciles the `ExternalSecret` and `SecretStores` resources in all namespaces. However, A SecretStore can only use SAs from it's own Namespace. SAs from other namespaces can not be used. This is by design: Namespaced resources (and references) should not transcend namespaces.

Scoping the controller to a list of namespaces is desirable to limit the reconciling of resources to a sub

[2021-12-13 21:00] knelasevero commented on #523
That's true. Even though the discussion evolved to the solution that delivers what users are looking for, scoping some namespaces is still something that needs to happen. Do we have some other issue for it?

[2021-12-13 21:09] racdev commented on #523
Ah, that clarifies things. The bit that confused me was that the SecretStore configuration has namespace as a field when referring to the Service Account which suggests it can refer to a SA in another namespace than the namespace of the SecretStore itself:
[code]

[2021-12-13 21:34] moolen commented on #523
That's a documentation flaw because the underlying type is shared with the `ClusterSecretStore` where you can specify the field (it's ignored in a `SecretStore`).

[2021-12-14 01:43] tommyreilly commented on #523
@gusfcarvalho - thank you, at this time, I'll try and see if I can get your suggested workaround working for our use case.

[2021-12-14 08:44] #387 closed

[2021-12-15 08:07] moolen commented on #493
FYI: I experimented a bit with the flux approach to generate the `ClusterServiceVersion` manifest. However it's not possible to configure / apply patches to the OLM deployment. That means we can't even add annotations to service accounts or modify env vars in the deployment. This limits our users too much and i think it's a way better approach to have a operator that simply runs `helm install` wit

[2021-12-16 19:44] #509 closed

[2021-12-16 22:08] cnmcavoy opened #537 "Disambiguate Vault namespaces for auth and secret retrieval"
**Describe the solution you'd like**
The current `SecretStore` and `ClusterSecretStore` CRD specification for the Vault provider has a `namespace` field at the top-level. This field is overloaded, it is used both for authenticating with the cluster, as well as the location of the secret fetched and retrieved into kubernetes. However, if secrets are stored in a namespace in Vault, but the auth back

[2021-12-16 22:41] cnmcavoy commented on #537
After discussing some with @mbillow he suggested a `SecretStore` in this format:
[code]

Which I tested and was able to successfully auth External Secrets against the root namespace and populated the secret from the target namespace by setting the namespace as a prefix in the path + root namespace in the `SecretStore` crd. So we can follow that pattern for Vault Enterprise and won't need this.

[2021-12-16 22:41] #537 closed

[2021-12-17 01:13] cpozdolski opened #540 "Hashicorp Vault LDAP auth method should support non-default bind paths"
**Describe the solution you'd like**
The Hashicorp Vault authentication methods have default API paths like `/auth/ldap`, but [per the docs](https://www.vaultproject.io/api/auth/ldap) "it is possible to enable auth methods at any location" and API calls need to reflect that.

This project already supports a configurable bind path for the [AppRole](https://github.com/external-secrets/external-secre

[2021-12-17 11:13] #244 closed

[2021-12-17 11:13] #493 closed

[2021-12-20 08:45] sergiofteixeira opened #541 "Question - data and datafrom"
hello,

when using vault backend can we use data and datafrom for specific secrets?

[2021-12-20 22:14] #372 closed

[2021-12-21 09:44] CayoM opened #543 "Creating Dockerconfigjson from ExternalSecrets leads to parsing error"
**Describe the solution you'd like**
I would like to be able to prepare a Dockerconfig string, store it on IBM-Cloud Secrets Manager and then Build a Docker Pull Secret from an ExternalSecret.

**What is the added value?**
Doing so, i will be able to store pullsecrets on a git repo and even sync it with my cluster via gitops.

**Give us examples of the outcome**
1) Im preparing the string as follo

[2021-12-21 15:39] knelasevero commented on #543
You don't need to prepare it. What you put in the secret in the external provider will be the contents of the dkconfigjson with no manipulation.

When we pass it to the ES with .dockerconfigjson: "{{ .dockerpullsecret | toString }}", it will receive the value, but when kubernetes API creates the secret, it will base64 encode it, you don't need to do it.

You can check an example here: https://exte

[2021-12-21 15:42] knelasevero commented on #541
Hey!

sorry, I could not follow. What do you mean? With Vault, if you use data, you have to use property together.

If you use datafrom, you will get all key/values in a given secret.

[2021-12-21 15:43] knelasevero commented on #543
I am closing this issue, feel free to re-open! :)

[2021-12-21 15:43] #543 closed

[2021-12-21 16:23] CayoM commented on #543
@knelasevero thanks for the hint. I was aware of this piece of documentation, however i was exploring the possibilities to create the secret and was wondering why i can create a "normal" Secret with the encrypted string, but can't create a ExternalSecret with the same encrypted string (apparently due the Operator trying to encrypt the string again).

Since im trying to achieve some sort of full au

[2021-12-21 16:40] CayoM commented on #543
i could work around this by chaining the helper functions. Basically decoding the bytes and then transforming to a string. Did take some time to try different things out, but its working. This is the final result if someone come across the same issue:

[code]

[2021-12-22 16:14] nikonet commented on #510
It also happens with the GCP(SM) provider.

Related to this - parsing JSON nested objects (and arrays?) results in `unable to unmarshal secret: json: cannot unmarshal object into Go value of type string`.

If it is possible to get around this with ex. advanced templating I'd really appreciate hearing it!

[2021-12-22 20:06] moolen commented on #510
The GCP issue was fixed in f1fad4576cf581d56526450fc8239eb155481f87 (soon to be released, i guess).

[2021-12-22 21:32] xadereq commented on #522
I would add two examples for Hashicorp Vault (for others who may struggling with setup from docs on site):

for creating dockerconfigjson:

create file `registry.json` with dockerconfig e.g.

[code]
then pass it to Vault using CLI:
[code]
finally create and apply ExternalSecret kind
[code]

---
for TLS, i couldn't get it working using method with packing both crt and key into PKCS bundle, instead

[2021-12-22 21:33] xadereq commented on #522
I would add two examples for Hashicorp Vault (for others who may struggling with setup from docs on site):

for creating dockerconfigjson:

create file `registry.json` with dockerconfig e.g.

[code]
then pass it to Vault using CLI:
[code]
finally create and apply ExternalSecret kind
[code]

---
for TLS, i couldn't get it working using method with packing both crt and key into PKCS bundle, instead

[2021-12-23 19:33] nokernel opened #546 "GCP Workload Identity on SecretStore not working"
**Describe the solution you'd like**
GCP Workload Identity on SecretStore not working. Using helm chart version 0.3.10 to install.

Following the [doc here](https://external-secrets.io/provider-google-secrets-manager/#using-service-accounts-directly)

**Give us examples of the outcome**

Ability to reference Google service account on SecretStore.

**Observations (Constraints, Context, etc):**

Thi

[2021-12-24 07:11] vladimirfx opened #547 "Add Kubernetes backend"
**Describe the solution you'd like**

There is growing number of operators that provides in-cluster secret generation functionality (zalando/postgres-operator, Strimzi, mittwald/kubernetes-secret-generator etc). The business software oftentimes needs access to external secrets AND to that generated secrets that exist in clusters only.
Now we solved that problem with sophisticated configs based on

[2021-12-26 12:39] willemm opened #548 "Generic webhook provider"
### Discussed in https://github.com/external-secrets/external-secrets/discussions/544

<div type='discussions-op-text'>

<sup>Originally posted by **willemm** December 22, 2021</sup>
Hi,

Because our company has an in-house developed (quite simple) key store, I needed to add a provider for it.  Because this store is quite simple, I thought it would be more useful to create a generic provider that

[2021-12-27 10:10] #510 closed

[2021-12-27 10:18] knelasevero commented on #541
Hey! Closing this issue for now. Please feel free to re-open to seek us at https://kubernetes.slack.com/messages/external-secrets

[2021-12-27 10:18] #541 closed

[2021-12-27 10:23] knelasevero commented on #546
Sorry, documentation right now is published every time we merge to main, even if we did not release stuff that docs are talking about. Will try to fix that next year when we have more time.

But, yeah, next release that will be available :)

[2021-12-28 22:20] moolen commented on #548
Hey, thanks for bringing this up!

IMO this is useful, i support adding it! The design looks good, too. I suggest adding a HTTP _method_ and _body_ for the outgoing request to make it more generic. E.g. to be able to send `POST` requests with a json-serialized `remoteRef`.

yeah, webhook is good. But these minor details can be changed when reviewing the PR.

I think the provider should be generic

[2021-12-29 05:36] voldemortensen opened #558 "Allow AppRole RoleID to be pulled from a secret"
**Describe the solution you'd like**
To configure a SecretStore using an AppRole the RoleID must be hard-coded in the manifest (or Helm values.yaml) like so:
[code]
I propose adding a `roleRef` option like so:
[code]

**What is the added value?**
This would allow bootstrapping a Kubernetes cluster much easier.

I am using the [ApplicationSet](https://argocd-applicationset.readthedocs.io/en/stable/

[2021-12-29 10:01] willemm commented on #548
https://github.com/external-secrets/external-secrets/pull/559

About your comments:
http method and body parameters have been added to the outgoing request, although there should probably be a 'happy' unit test with a body in there (atm there is only if it fails on a faulty template)
Our company doesn't have a use case for accessing an in-cluster endpoint with serviceaccount token, and I don't rea

[2021-12-29 21:04] moolen commented on #558
Hey @voldemortensen your proposal sounds reasonable. Regarding validation: I think we just need to make `RoleID` optional and that's it. Just return an error in the provider if both RoleID and RoleRef are undefined - we don't have validation via dynamic admission control yet to catch the misconfiguration earlier.

[2022-01-02 21:29] #423 closed

[2022-01-02 21:30] #373 closed

[2022-01-05 07:46] trevor-viljoen opened #563 "OLM OperatorConfig fails to install"
This issue would be better created in the `external-secrets-helm-operator `repo, but Issues don't seem to be enabled over there. I am trying to install External Secrets via the Operator Hub in OpenShift 4.8.24. I am able to create a subscription and install the operator. However, when trying to create an `OperatorConfig` using the sample provided in `external-secrets/external-secrets-helm-operator

[2022-01-05 07:49] trevor-viljoen commented on #563
Additionally, The events for OperatorConfig show this 18 times in the last 16 minutes "generated from operatorconfig-controller":
[code]

[2022-01-05 08:37] trevor-viljoen commented on #563
Here are the logs from the controller:
[code]

I tried adding the label and annotations to an existing `ClusterSecretStore`, but it had no effect. I also tried deleting it and also deleting and reinstalling the operator, but received the same error indicating that the controller still thinks the resource exists. Is this cached somewhere?

[2022-01-05 10:09] winkee01 commented on #521
thanks, I comment it out, but the problem still exists.

[2022-01-05 11:14] winkee01 commented on #521
Sorry, the previous error is fixed by comment it out. But now I get another error saying "* permission denied". After some exploration, I found It was because the service account I used was not bind to a the clusterrole `system:auth-delegator`, I fixed it, and now I can authenticate to vault server correctly.

After apply `externalsecret.yaml`, the `Secret` was created successfully. But there is n

[2022-01-05 14:07] wseaton commented on #563
I'm running into the same exact issue, @trevor-viljoen did you have any luck installing via the Helm chart directly?

[2022-01-05 14:55] trevor-viljoen commented on #563
@wseaton I had previously installed via Helm in another cluster with no issues. We've been holding up a production deployment, waiting for the OLM operator. So I was excited to finally get that work off my plate and marked done. I will continue debugging this today.

[2022-01-05 15:11] wseaton commented on #563
@trevor-viljoen I switched to using a bone-stock Helm chart via ArgoCD now and that is working fine for me (now stuck debugging the providers), ideally I'd like to install via OLM as that is the more 'production-y' way of doing things in my shop as well :slightly_smiling_face:

[2022-01-05 15:17] trevor-viljoen commented on #563
@wseaton I am deploying this via GitOps/ArgoCD and I thought initially that it was failing because I had already created a `ClusterSecretStore` as that is what one of the errors seems to be complaining about (not having proper annotations and labels). But even after adding those annotations and labels, or deleting it, the error persists.

[2022-01-05 20:27] trevor-viljoen commented on #563
As best I can tell, the `installCRDs: false` in the `watches.yaml` is not working as intended. If you remove the CRDs that were added by OLM and let the helm operator re-add them, the ReplicaSet gets created and everything seems happy. As @slopezz mentioned here: https://github.com/external-secrets/external-secrets/issues/493#issuecomment-983542052_  OLM should manage the CRDs. You should also be

[2022-01-05 22:57] trevor-viljoen commented on #563
Running this prior to creating the `OperatorConfig` gets around the problem. It's more of a hack than a solution.

@wseaton
[code]

[2022-01-06 00:16] knelasevero commented on #563
I thought about enabling issues on that repo, but I am now thinking I prefer all issues here on the main repo and organize them by tags. Will bring this up at the next community meeting.

@moolen was the one pushing this forward, and I think he is still on vacation and unavailable, but I can try to have a look. I am a bit unfamiliar with OLM and with the work done with the es-helm-operator. I see

[2022-01-06 13:41] knelasevero commented on #563
I can confirm the issue.

I created this PR on the other repo:

https://github.com/external-secrets/external-secrets-helm-operator/pull/1

Will merge soon and after that, I will create the PR on the community_operators repo to point to the new release.

Probably will also release ESO 0.3.11 already as well.

[2022-01-06 15:29] knelasevero commented on #563
https://github.com/k8s-operatorhub/community-operators/pull/550

I will ping here when it gets published to https://operatorhub.io/

Then we can check if it works for you guys

[2022-01-06 15:54] knelasevero commented on #563
PR was merged, it should show up in https://operatorhub.io/ in about 10-30 min

[2022-01-06 16:36] knelasevero commented on #563
I just tried this with OLM for 0.3.11. Works like a charm. Closing the issue. Feel free to re-open in case of any problems!

[2022-01-06 16:36] #563 closed

[2022-01-06 18:04] trevor-viljoen commented on #563
@knelasevero Thank you for the quick turn around on this.

[2022-01-06 19:48] tviljoen-faa commented on #563
@knelasevero There probably needs to be a corresponding PR here as well: https://github.com/redhat-openshift-ecosystem/community-operators-prod/ as done here: https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/570

[2022-01-06 20:18] knelasevero commented on #563
Oh, I missed that one. Gonna do it tomorrow

[2022-01-07 12:03] knelasevero commented on #563
https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/579

Merged :)

[2022-01-07 12:29] gusfcarvalho commented on #546
@nokernel can you confirm that using version 0.3.11 the issue is gone?

[2022-01-07 15:28] trevor-viljoen commented on #563
The automatic upgrade failed and I did have to uninstall the operator to allow it to re-install the CRDs after having made the annotation and label changes mentioned here https://github.com/external-secrets/external-secrets/issues/563#issuecomment-1006142592. These effectively gave control of the CRDs to Helm and were removed as part of the upgrade to 0.3.11. That said, after re-installing the ope

[2022-01-07 15:46] knelasevero commented on #563
I probably should put that in the release notes then. From 0.3.10 to 0.3.11 people need to uninstall, check that there are no eso crds on the cluster, and then install 0.3.11.

Would you say that makes sense?

[2022-01-07 15:51] trevor-viljoen commented on #563
@knelasevero Yeah, I think that makes sense. Thanks again for the help and for getting this fixed so quickly.

[2022-01-08 19:23] onsails commented on #546
I can confirm it works on 0.3.11

[2022-01-09 14:08] knelasevero commented on #546
Closing this one. Feel free to report back and re-open :)

[2022-01-09 14:08] #546 closed

[2022-01-10 08:38] moolen opened #573 "Vault: consolidate kubernetes auth mount path"
All auth methods in vault support changing the mount path. Right now most of them do that by using the `path` field. Kubernetes auth uses `mountPath`. This should be changed to `path` in order to consolidate.

See:
https://github.com/external-secrets/external-secrets/blob/d53b3df7f83b2b481b7364bd83f1ee3b67f1c113/apis/externalsecrets/v1alpha1/secretstore_vault_types.go#L146-L152

This is a breaking

[2022-01-10 14:04] nokernel commented on #546
Got past that error now with v0.3.11 thank you that was quick :+1:

[2022-01-11 15:50] #548 closed

[2022-01-11 15:53] kuzm1ch opened #579 "Kiam is not working. AWS provider."
Kiam is not working. AWS provider.

ESO is not able to assume role provided in SecretStore.spec.provider.aws.role.
v0.3.10

**Examples of the outcome**
[code]

[code]

**Observations (Constraints, Context, etc):**

When I added Kiam annotation directly to the pod I received this error:
[code]

[code]
It will be good to have Kiam configuration part documented somewhere.

[2022-01-11 16:19] kuzm1ch commented on #579
on hold for now

[2022-01-11 18:54] moolen commented on #579
Have you tried adding the annotation and leaving the `provider.aws.role` blank?
From the error message above i see that the ESO pod already acquired credentials via kiam:

[code]

If the role has the proper SSM/SM policy set everything should work i suppose.

[2022-01-11 20:02] knelasevero opened #582 "Improve docs examples that generate problems often"
Will list some:

- [x] 'controller: dev' k/v is needed in the API spec doc, but not in the getting started examples. Our general quick user will just install the helm chart as is, and that key makes the controller ignore the SS

- [x] we had some users reporting problems with our getting started guides (maybe the ones with Auth methods that we don't use that often). We need to go though all of the

[2022-01-11 21:01] moolen commented on #540
fixed with #567

[2022-01-11 21:01] #540 closed

[2022-01-11 21:07] kuzm1ch commented on #579
After further investigation -  ESO works fine with Kiam, but it needs some additional configuration.
This is my resolution:
1. Create a role <assume role> with AssumeRole allowed policy.
policy example
[code]
2. Attach this role to ESO deployment. It can be done by putting these lines directly to manifest or with podAnnotations helm values block.
[code]
3.   After it ESO will be able to assume rol

[2022-01-11 21:13] #579 closed

[2022-01-11 21:14] moolen commented on #579
Thanks for documenting this!

[2022-01-12 18:59] lancehudson opened #583 "Conflict with last-applied-configuration annotation when merging"
**Describe the solution you'd like**

It should merge successfully

**What is the added value?**

Merging secrets will work in more cases

**Give us examples of the outcome**

[code]

[code]

**Observations (Constraints, Context, etc):**

The controller is updating other keys within the secret. I am trying to populate this one value from GCP. If I delete the conflicting annotation it works until t

[2022-01-13 16:41] AlexisDuf opened #586 "Can't get secret from Azure Key Vault if access policy is created before the controller start"
**Describe the solution you'd like**

**Observations (Constraints, Context, etc):**
When I try to get a secret from my Azure Key vault I have this error:

[code]

I use aad pod identity and I configured the identity for having get access on Keys, Secrets and Certificate from my key vault

I noticed when I create a new access policy with the same rights it works.... Looks like the controller have t

[2022-01-13 16:56] #586 closed

[2022-01-13 16:57] AlexisDuf commented on #586
My bad, it was a problem from my azure configuration

[2022-01-13 22:38] sebagomez commented on #273
Closed by https://github.com/external-secrets/external-secrets/pull/584

[2022-01-13 22:38] #273 closed

[2022-01-13 23:13] sebagomez commented on #492
Hey @alrosx, unfortunately, this is by design since the PrivateKey is never returned.

You can take a look at this thread for more context: https://github.com/Azure/azure-sdk-for-js/issues/7647#issuecomment-594935307

[2022-01-13 23:32] EladGabay opened #587 "OCI secret by name instead of the unmaintainable ID"
Hello,
Currently (soon, once  https://github.com/external-secrets/external-secrets/pull/569 is done)  the OCI Vault provider gets a secret by its ID which is unpredictable and less maintainable than name.
The advantage of ID is that we don't need to know the Vault ID.
However if we have a specific Vault ID, we can gets secrets by name.
There are 2 options to add this support:
1. Get the Vault ID i

[2022-01-14 11:28] EladGabay commented on #587
I'd suggest to add an optional field of the Vault ID to SecretStore, then if it exists, take the ExternalSecret key as a name, otherwise as an OCID like now.

[2022-01-14 16:41] 250788 opened #588 "Support CyberArk Conjur as backend vault provider"
**Describe the solution you'd like**
Add CyberArk Conjur as additional vault provider

**What is the added value?**
Enlarge the supported provider list for external-secrets

**Give us examples of the outcome**
[code]

_Secret.yaml_
DBAddress: mysql.cyberarkdemo.com
DBName: hello-world
DBPort: 3306
DBUsername: !var vault/testapp/testapp/Database-MySQL-mysql-testapp/username
DBPassword: !var vault/t

[2022-01-14 16:51] knelasevero commented on #587
I think I prefer the vault Id as required field in the SS, so the intended usage is clear. Basically option 1 from your suggestion. :)

[2022-01-14 18:15] tomcruise81 commented on #588
@250788 - thanks!

This is in relation to https://github.com/external-secrets/kubernetes-external-secrets/issues/844

[2022-01-14 19:33] #513 closed

[2022-01-14 19:55] #457 closed

[2022-01-14 19:55] #205 closed

[2022-01-14 21:26] moolen commented on #583
hey @lancehudson, i can reproduce your issue. It seems like there is an issue when mixing `operation=Update` and `operation=Apply`; It's best described here: https://github.com/kubernetes/kubernetes/issues/80916#issuecomment-525049458 - it looks like we can't do server-side apply with client-side applied resources.

I think we should force ownership of the fields we care about (as described in the

[2022-01-14 21:45] #583 closed

[2022-01-14 21:56] jbehrends opened #593 "Helm Chart Enhancement - Ability to manage "automountServiceAccountToken""
My organization is trying to adhere to Checkov rule [CKV_K8S_38](https://docs.bridgecrew.io/docs/bc_k8s_35) to ensure that Service Account Tokens are only mounted where necessary.  There currently is not an option to manually configure the service account token by creating an optional helm value to set 'automountServiceAccountToken' to false, as well as the ability to mount the token if needed.

[2022-01-15 16:29] moolen commented on #593
That policy generally makes sense but IMO doesn't apply to the controller because it requires a SA token to work. I don't see a case where manually mounting service accounts would be useful.

Or do you have a attack scenario where that would help?

[2022-01-16 11:18] knelasevero commented on #587
I know that going for option 1 is a breaking change, but we should take advantage of the CRD being in alpha and get the specs to what we think makes more sense.

[2022-01-16 17:20] #587 closed

[2022-01-17 05:13] themarcelor opened #599 "Does external-secrets support type: kubernetes.io/tls ?"
Just seeking some general guidance:
Looks like some documentation / examples reference an `ExternalSecret` CRD with `apiVersion: kubernetes-client.io/v1` but the CRD that is installed through the helm chart actually contains `external-secrets.io/v1alpha1`, which results in an error:
[code]

I have been using the `external-secrets` whose Helm chart was installed by following the instructions in htt

[2022-01-17 07:47] moolen commented on #599
Hey @themarcelor. You can find examples on how to use the secret type [here in the docs](https://external-secrets.io/guides-common-k8s-secret-types/#tls-cert-example).

`kubernetes-external-secrets` aka `KES` is the "old" controller. `external-secrets` aka `ESO`. Lucas has a twitter thread on that: https://twitter.com/canelasevero/status/1365233452229013505. KES is in maintenance mode and we focus

[2022-01-17 10:11] knelasevero commented on #209
@moolen do you have the bandwidth to take this one? I don't think I have alone.

[2022-01-17 11:38] moolen commented on #209
sure, i will take it.

[2022-01-17 15:04] #504 closed

[2022-01-17 15:10] themarcelor commented on #599
Thanks a million @moolen 🙏🏼 😄

[2022-01-17 15:10] #599 closed

[2022-01-17 15:32] knelasevero opened #605 "Add a Mock/Fake provider to make it easier to develop locally"
Right now it is possible to spin up vault or localstack to develop locally without a Cloud dependency, but this could also be a bit of a hassle for a quick change to the controller or something like that.

A Mock/Fake provider would be nice here. I see some options:

1- Always responds a default value on a specific key name.

2- Reads values from file/volume

3- Maybe this is unnecessary when we h

[2022-01-17 15:35] knelasevero commented on #605
If this is added, we need to add proper docs in the developer guide. Even if we think mock provider is not needed, we need to add something to the dev guides regarding local setup for the whole control loop to happen without big dependencies. We can close this issue based on those assumptions

[2022-01-18 08:57] moolen opened #606 "template: change secret and func interface"
### Problem description
A secret value is of type `[]byte`. We pass that value directly into the template engine and let the user handle the transformation of the value. This often leads to unexpected values that are rendered in a template.

We can not simply output the value using this `{{ .somevalue }}` - we have to transform the `[]byte` to a `string` using `{{ .somevalue | toString }}` which m

[2022-01-18 09:58] knelasevero commented on #606
The next releases will be fun, full of breaking changes :joy:

I agree with the alpha changes vs complexity argument.

We need to at least document how to upgrade and how to avoid big problems with these breaking changes in the release notes. Maybe also have a doc for upgrade steps from certain versions to certain versions.

[2022-01-19 12:39] gusfcarvalho commented on #606
I think we should probably try to go through the breaking changes issues all at once. Maybe a collective effort to make it happen?

[2022-01-19 13:03] gusfcarvalho commented on #582
regarding #498 should we for now update the appropriate docs as well while this one isn't complete?

[2022-01-19 16:13] gajus opened #607 "Doppler support"
**Describe the solution you'd like**

We'd like to use externals-secrets with https://doppler.com/

**What is the added value?**

Adds additional service provider.

[2022-01-20 08:35] moolen opened #611 "Azure Workload Identity (Service Account auth)"
MS just announced a new Azure Workload Identity feature: https://cloudblogs.microsoft.com/opensource/2022/01/18/announcing-azure-active-directory-azure-ad-workload-identity-for-kubernetes/

repo: https://github.com/Azure/azure-workload-identity
docs: https://azure.github.io/azure-workload-identity/docs/quick-start.html

It provides authentication based on annotated service accounts. We want to use

[2022-01-21 22:52] ops-hummus opened #619 "Add missing rbac to helm chart when using HCP vault"
When trying to setup external-secrets (basically migrating from KES to ESO) with vault enterprise using the helm chart, it's simply impossible to understand why we are getting 403 permission denied. After a bit of digging I understand that the operator's service account can't function without `system:auth-delegator` clusterrole, which isn’t included in the chart. The operator wasn’t helpful since

[2022-01-22 12:36] willemm commented on #605
I think you should be able to do this with #559 and httpbin?

[2022-01-22 18:21] knelasevero commented on #605
Yeah, also possible :) we discussed this here: https://kubernetes.slack.com/archives/C017BF84G2Y/p1642156165083800

But maybe a fake provider still makes sense? Like fewer steps and something right away ready to see the whole control loop?

[2022-01-22 19:20] moolen commented on #605
The use-case is to just test out e.g. the template engine, `creationPolicy` or value precedence, or is there something else?
IMO the user should be in control of the values (instead of having pre-defined mock values).
I imagine something stupidly simple like this, this should be really easy to implement:

[code]

[2022-01-22 19:37] bonboyaju19 opened #620 "Support Oracle instance principal authentication"
**Describe the solution you'd like**
In [the current official documentation](https://external-secrets.io/provider-oracle-vault/), need to set the service account key to kubernetes secrets to access the Oracle vault. Support instance principal authentication when access Oracle vault, instead of using service account keys.

**What is the added value?**
Reduce credential information to configure for

[2022-01-22 22:54] moolen commented on #347
Yes, we want to have a process for that to gather feedback from the community (see #621) just like we had for the initial draft of the CRD.

For sure, i think we draft the CRD first and then continue with adding support bit by bit for each provider.

Most of discussion (if not all?) is happening here or in slack. We have this (and a couple of other hings) on our agenda and just need the time to dr

[2022-01-24 10:26] moolen opened #627 "docs: generate on release + multiversion support"
We've had a couple of support issues where the documentation referred to a feature that wasn't released yet. I propose two minor improvements for our documentation pipeline:

#### 1. Generate Documentation on release
We should generate and deploy the documentation *only* when releasing a new version (i.e. from the release pipeline or perhaps manually from master).

#### 2. Versioned Documentation

[2022-01-24 10:35] moolen commented on #619
Just for reference for someone who also stumbles into this: this is documented in the [vault docs](https://www.vaultproject.io/docs/auth/kubernetes#configuring-kubernetes), also relevant the [Kubernetes docs](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#other-component-roles).

I'm not sure if it is necessary to bind that to the default service account, because not everyone uses t

[2022-01-24 10:46] #209 closed

[2022-01-25 11:58] PeterSR opened #635 "docs: HashiCorp Vault - Typo in figure"
On the doc page https://external-secrets.io/provider-hashicorp-vault/ the very first figure, that shows how `external-secrets` works together with Vault, has misspelled "ExternalSecret" as "ExternaSecret" (missing the "l").

Direct link to figure: https://external-secrets.io/pictures/diagrams-provider-vault.png

[2022-01-25 23:30] booleanbetrayal commented on #315
@knelasevero / @spirosoik  - We are seeing this issue on `v0.3.11`. Perhaps it was re-introduced as a regression? We are also using `dataFrom`, consolidating multiple secrets from AWS Secrets Manager.

[2022-01-25 23:54] booleanbetrayal commented on #315
@knelasevero / @spirosoik - My Go is bad, but it looks like the `Merge*` methods in the `utils` package is possibly doing the additive only change that was fixed in #327 . Can one of you confirm?

[2022-01-26 10:59] moolen opened #643 "Vault: support AWS auth via IRSA"
### Discussed in https://github.com/external-secrets/external-secrets/discussions/616

<div type='discussions-op-text'>

<sup>Originally posted by **michelesr** January 21, 2022</sup>
Is it possible to authenticate to Hashicorp Vault using IAM role for serviceaccounts? Vault supports IAM based authentication but the external-secrets operator doesn't mention it in the documentation.

If it's not su

[2022-01-26 11:57] moolen commented on #315
I think it's this codepath that is responsible for that issue (farther up top in the file is the fix from #327):

https://github.com/external-secrets/external-secrets/blob/0b9c142a22b98c0845bc15dcfb5992d1ddc2aaa1/pkg/controllers/externalsecret/externalsecret_controller_template.go#L64-L71

[2022-01-26 15:02] knelasevero opened #644 "Validate our Interface implementations (even when not calling them - safer also during development)"
Got this tip today, and this seems to be something widely used in Kubernetes.

So, for example in gcp implementation:

https://github.com/external-secrets/external-secrets/blob/5676c04c44b513603e73b1051a4348b828ebe32d/pkg/provider/gcp/secretmanager/secretsmanager.go#L61

Here we should have an empty assignment from our struct to our interface.
[code]

This will force compilation error even if we a